@media screen and (min-width:993px) and (max-width:1365px){

.welcome-area .welcome-product li:nth-child(3){float:left}
 
.newsBlg-area .blog-section1{width:31%; min-height:450px; overflow:hidden}

.newsBlg-area .blog-section2 h3{margin:30px 0 10px}

.blog_page{width:60%}



.blog_details_area .blog_author_area .author_details{padding:20px}

.blog_details_area .blog_author_area .author_details2 h4 span{margin-left:15px}

.blog_details_area .blog_author_area figure{margin-right:20px}

.blog_details_area .blog_author2 {margin: 6px 0 0;}



.about_reviews_rht figure.clearfix{padding:0px 70px}

.about_area .about_reviews .about_reviews_rht{width:60%}

.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%}

.about_area .about_shipping{padding:30px 15px}

.about_area .about_shipping ul li h4{width:70%}



.subscribe-area ul li:nth-child(2){margin:0% 4%}

.partner-area ul li{width:12%; margin:0% 2%}



.featured-area .tab-content{text-align:center}

.featured-area .featured-item{float:none; margin:5px !important}

.slider-area .carousel-caption{padding:30px 0px; left:35%; bottom:0px}

.slider-area .carousel-caption p{margin:10px 0px}

}

@media screen and (min-width:992px) and (max-width:1199px){
	.welcome-area .welcome-product .wlcm-product-ttl{
		right: 35px !important;
	}
	.welcome-area .welcome-product .wlcm-product-ttl2{
		left: 9% !important;
	}
	.subscribe-area .mc4wp-form .mc4wp-form-fields input{
		width: 55% !important;
	}
	.dis-prod{
		right:50% !important;
	}
}

@media screen and (min-width:768px) and (max-width:992px){

.dis-prod{
	right:35% !important;
}
.spacer{padding:20px 0px}

.nav > li > a {display: block;font-size: 13px;padding: 10px;position: relative;}

.spacer{padding:20px 20px}

.header-top-area{display:block}

.header-top-area ul li{padding-right:0px}

.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:3px}

.header-top-area .header-top-right{font-size:12px}

.header-top-area .header-top-right i{margin-right:0px}

header .cart-area div{margin-left:4px}

header .cart-area h3 span{right:-4px; top:-4px}

.navbar-brand > img{width:70; height:auto}

.welcome-area .welcome-product li{width:50%}

.nav-tabs > li {display: inline-block;float: none;margin-bottom: 20px;}

.featured-area .nav-tabs{float:none; top:0px;}

.featured-area .site-section-area{text-align:center}

.featured-area .featured-item{float:none; margin-right:0px;}

.product-coll-listing .listing-col-bx{width:50%; margin:0%; padding:20px;}

.product-coll-listing .listing-col-bx2{width:47%}

.subscribe-area .container{padding:30px 30px}

.subscribe-area .mform > div{width:100%}

.subscribe-area ul li:nth-child(2){width:100%; margin:0%}

.newsBlg-area .blog-section1{width:48%; margin:0px; padding:20px; float:none; min-height:500px; overflow:hidden }

.newsBlg-area .blog-section1 .site-section-area{text-align:center}

.newsBlg-area .blog-section2 figure .blg-fig-bx {bottom: 45px;left: 0;position: relative;}

.home_blog_area .blog-section1{width:100%; min-height:auto}

.partner-area{text-align:center}

.footer-area .footer_bx {padding: 20px 50px;width: 100%;}

.footer_bx{background-position:top 30px right 50px}

.product_details_tab .nav > li > a{padding:10px}



/*product-details page css*/

.product_details{text-align:center}

.product_details .product_details_img{display: inline-block;float: none;max-width: 524px;width: 100%;}

.product_details .product_details_txt {float: none; padding: 20px;text-align: left;width: 100%;}

.product_details .product_details_txt h2{max-width:100%}

.product_comment .comment_frm ul li{text-align:center}

/*contact page css*/

.contact_detail_area ul li{padding-right:28px}

.contact_detail_area ul li:first-child{padding-right:0px}

.contact_detail_area ul li figure{float:none; margin-bottom:15px;}



.side_bar .site-section-area{text-align:center}

.side_bar_wrapper{text-align:center}

.side_bar{width: 100%;padding: 20px;max-width: 430px;float: none;display: inline-block}

.side_bar .video_area{max-width:100%;}

.side_bar .popular_area ul li .pop_details{width:63%}



.blog_details_area{margin-bottom:0px}

.blog_details_area .site-section-area{text-align:center}

.blog_details_area .blog_author_area .author_details{padding:20px}

.blog_details_area .blog_author_area .author_details2 h4 span{margin-left:15px}

.blog_details_area .blog_author_area figure{margin-right:20px}



.about_reviews_rht figure.clearfix{padding:0px 70px}

.about_area .about_reviews .about_reviews_rht{width:60%}

.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%}

.about_area .about_shipping ul li{width:48.5%; margin:15px 0px}





.slider-area .carousel-caption{padding:5% 0px;}

.slider-area .carousel-caption h3{font-size:20px; margin-bottom:0px;}

.slider-area .carousel-caption h1{font-size:24px}

.slider-area .carousel-caption h2{font-size:26px; padding-bottom:0px;}

.slider-area .carousel-caption h4{font-size:20px;}

.slider-area .carousel-caption h4 span{font-size:26px;}

.slider-area .carousel-caption p{max-width:100%; font-size:14px; margin:5px 0px; line-height:normal}

.slider-area .carousel-caption h5 span{font-size:12px; padding:0px}



.subscribe-area .container{padding:30px 10px}

.subscribe-area .mform > div{width:37%}

.subscribe-area ul li:nth-child(2){width:40%; margin:0%}

.subscribe-area ul li:nth-child(3){width:21%; margin:0%; text-align:right}

.subscribe-area ul li:nth-child(3) button{padding:10px}


.welcome-area .welcome-product .wlcm-product-ttl{
	right: 25px !important;
}
.welcome-area .welcome-product .wlcm-product-ttl2{
	left: 20% !important;
	width: 180px;
	height: 48px;
	line-height: 48px;
}

.subscribe-area .mform > div{
	width: 30%;
}
.subscribe-area .mc4wp-form { 
	width: 60%; 
}
.subscribe-area .mc4wp-form .mc4wp-form-fields input {
	width: 50%; 
}

}
 
 


@media screen and (min-width:580px) and (max-width:767px){
	.dis-prod{
		right:20% !important;
	}	
}
@media screen and (min-width:200px) and (max-width:579px){
	.dis-prod{
		right:10% !important;
	}	
}

@media screen and (min-width:200px) and (max-width:767px){



.navbar .container{padding:0px}

.navbar .container .col-lg-7.col-sm-8.col-md-8{padding:0px}

.spacer{padding:20px 20px}

.header-top-area{display:block}

.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:3px; float:none; display:inline-block}

.header-top-area .header-top-right{font-size:12px}

.header-top-area .header-top-right i{margin-right:0px}

header .col-lg-2.col-sm-2{padding-top: 0px;position: absolute;top:3px;right: 80px;}



.navbar-brand > img {width: 120px;height: auto;margin-top: 10px;}

.nav-tabs > li {display: inline-block;float: none;margin-bottom: 20px;}

.featured-area .nav-tabs{float:none; top:0px;}

.featured-area .site-section-area{text-align:center}

.featured-area .featured-item{float:none; margin-right:0px;}



.newsBlg-area .blog-section1{width:100%; margin:0px; padding:20px; float:none }

.newsBlg-area .blog-section1 .site-section-area{text-align:center}

.newsBlg-area .blog-section2 figure .blg-fig-bx {bottom: 45px;left: 0;position: relative;}

.partner-area{text-align:center}

.partner-area ul li{ width:38%}

.footer-area .footer_bx {padding: 20px 50px;width: 100%;}

.footer_bx{background-position:top 30px right 50px}



/*product page css*/

.header-top-inner{margin-bottom:20px}

.pagination_area .pagination > li > a, .pagination > li > span {width:30px;height:30px;line-height:30px;}



/*product-details page css*/

.product_comment .comment_frm ul li{text-align:center}

.product_details{text-align:center}

.product_details .product_details_img{display: inline-block;float: none;max-width: 524px;width: 100%;}

.product_details .product_details_txt {float: none; padding: 20px;text-align: left;width: 100%;}

.nav-tabs > li{margin-bottom:0px;}



/*contact page css*/

.contact_detail_area{padding:20px}

.contact_detail_area ul li{

	width:100% !important

}

.blog_details_area .site-section-area{text-align:center}

.side_bar .site-section-area{text-align:center}

.side_bar_wrapper{text-align:center}

.side_bar{width: 100%;padding: 20px;max-width: 338px;float: none;display: inline-block}

.side_bar .popular_area ul li .pop_details{width:60%}

.side_bar .video_area{max-width:100%}



.about_area .about_happy ul li{width:45%; margin-bottom:20px}

.about_area .about_happy ul li figure{display:block; width:100%; text-align:center}

.about_area .about_happy ul li h4{width:100%; text-align:center}

.about_area .about_shipping ul li{width:100%; margin-bottom:20px}

.about_area .about_reviews .about_reviews_lft{width:100%; padding:0px;}

.about_area .about_reviews .about_reviews_rht{margin-top:30px}

.about_reviews_rht figure.clearfix {padding: 0px 15%;color:#fff;}

.about_area .about_reviews .about_reviews_rht .review_sld_img{float:none; display:inline-block}

.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%; text-align:center;}

.about_area .about_reviews .about_reviews_rht .review_sld_txt h4{margin-bottom:20px}

.about_area .about_welcome {padding: 0 20px;}

.about_area .about_welcome h2{font-size:28px}



.pro_pp_bx .product_details .product_details_img{ width:100%; margin-left:0px}

.pro_pp_bx .product_details .product_details_txt{ width:100%; margin-right:0px;}

.pro_pp_bx .product_details_img .images{text-align:center}

.pro_pp_bx .product_details .add_btn_area .qty_bx, .product_details .add_btn_area .btn_bx{text-align:center}

.pro_pp_bx .product_details .add_btn_area .qty_bx{ display:inline-block}

.pro_pp_bx .sp-quantity{display:inline-block}



.product_details_tab .review_bx{padding:20px}

.welcome-area{
	max-width: 365px;
	margin: 0 auto;
}

.subscribe-area .mc4wp-form { 
	width: 62% !important; 
}
.subscribe-area .mc4wp-form .mc4wp-form-fields input {
	width: 45% !important; 
}

}



@media screen and (min-width:581px) and (max-width:767px){

.header-top-area .col-xs-12{width:50%}

.welcome-area .welcome-product li{width:50%}

.welcome-area .welcome-product .wlcm-product-ttl2{width:233px}

.nav > li > a{padding:10px}

.product_details_tab .nav > li > a{padding:8px; font-size:11px;}

.nav-tabs > li{margin-bottom:0px;}

.product_details .product_details_txt h2{max-width:100%}

.slider-area .carousel-caption{padding:5% 0px; left:20%; bottom:0px}

.slider-area .carousel-caption h3{font-size:20px; margin-bottom:0px;}

.slider-area .carousel-caption h1{font-size:24px}

.slider-area .carousel-caption h2{font-size:26px; padding-bottom:0px;}

.slider-area .carousel-caption h4{font-size:20px;}

.slider-area .carousel-caption h4 span{font-size:26px;}

.slider-area .carousel-caption p{max-width:100%; font-size:14px; margin:5px 0px; line-height:normal}

.slider-area .carousel-caption h5 span{font-size:12px; padding:0px}

.slider-area .carousel-indicators{ bottom:-5px}





.subscribe-area .container{padding:30px 10px}

.subscribe-area .mform > div{width:37%}

.subscribe-area ul li:nth-child(2){width:40%; margin:0%}

.subscribe-area ul li:nth-child(3){width:21%; margin:0%; text-align:right}

.subscribe-area ul li:nth-child(3) button{padding:10px}



.product-coll-listing .listing-col-bx{width:50%; margin:0%; padding:20px;}

.product-coll-listing .listing-col-bx2{ display: inline-block; max-width: 100%;width: 50%; margin-top:50px;}

.product_details_tab .container{padding:0px}



.blog_details_area .blog_title{padding:0px 20px}

.blog_details_area .blog_title .blog_title_lft{width:100%; margin-bottom:20px;}

.blog_details_area .blog_title .blog_title_rht{width:100%}

.blog_details_area .blog_para p{padding:0px 20px}

.blog_details_area .blog_bg_img{padding:20px}

.blog_details_area .blog_author_area figure{margin-right:20px}

.blog_details_area .blog_author_area .author_details{padding:0px}

.blog_details_area .blog_author_area .author_details2 h4{margin-top:20px}

.blog_details_area .blog_author2{margin:6px 0px 0px 0px}

.blog_details_area .blog_comment .product_comment{padding:20px}

.blog_details_area .blog_author_area{padding:10px 20px}

.blog_details_area .site-section-area{margin:20px}



.about_area .about_shipping ul li {width: 49%;margin-bottom: 30px;}

 

}

@media screen and (min-width:581px) and (max-width:650px){
	.subscribe-area .mform > div {
		width: 100%;
		text-align: center;
	} 
	.subscribe-area .mc4wp-form {
		width: 87% !important;
	}
}



@media screen and (min-width:200px) and (max-width:580px){

	

.header-top-area{display:block}

.header-top-area .col-xs-12{width:100%}

.header-top-area .header-top-left ul{text-align:center}

.header-top-area ul li{padding-right:0px}

.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:3px}

.header-top-area .header-top-right{font-size:12px; float:none; text-align:center}

.header-top-area .header-top-right i{margin-right:0px}





.nav > li > a{border-bottom:1px solid #ccc !important}

/*product-details page css*/

.product_details_img .thumbnails > a{margin-top:0px; margin-bottom:0px}

.product_details .product_details_txt h2{font-size:20px}

.product_details .size_bx .size{width:100%; margin-bottom:10px;}

.product_details .add_btn_area .qty_bx, .product_details .add_btn_area .btn_bx{width:50%}

.product_details .add_btn_area .add_wishlist{width:100%; margin-top:20px; text-align:center}	

.product_details{padding:0px;}

.nav-tabs > li{display:block}



.slider-area .carousel-caption{padding:5px 0px; left:0px; bottom:0px}

.slider-area .carousel-caption h3{font-size:14px; margin-bottom:0px;}

.slider-area .carousel-caption h1{font-size:14px}

.slider-area .carousel-caption h2{font-size:15px; padding-bottom:0px;}

.slider-area .carousel-caption h4{font-size:14px;}

.slider-area .carousel-caption h4 span{font-size:14px;}

.slider-area .carousel-caption p{max-width:100%; font-size:11px; margin:5px 0px; line-height:normal}

.slider-area .carousel-caption h5 span{font-size:10px; padding:0px}

.slider-area .carousel-indicators{ bottom:-5px}





.welcome-area .welcome-product .wlcm-product-ttl2{width:80%;left:0px;margin:0px 10%}

.subscribe-area .container{padding:20px}

.subscribe-area .mform > div{width:100%}

.subscribe-area ul li:nth-child(2){width:56%; font-size:10px; margin:0px}

.subscribe-area ul li:nth-child(2) input{font-size:10px;}

.subscribe-area ul li:nth-child(3){width:40%; text-align:right}

.subscribe-area ul li:nth-child(3) button{font-size:9px; padding:10px 10px}



.product-coll-listing{text-align:center}

.product-coll-listing .listing-col-bx .site-section-area{text-align:center}

.product-coll-listing .listing-col-bx{width: 300px;padding: 0px 20px;display: inline-block;float: none;text-align: left; max-width:100%}

.product-coll-listing .listing-col-bx2{ display: inline-block; max-width: 100%;width:350px; padding:0px 20px; float:none}



.site-section-area h2{font-size:20px}



.product_details .product_details_txt h5 span{display:block; width:100px; margin-top:20px;}

.product_details .product_details_txt h2{max-width:100%}

.product_details_tab .container{padding:0px}

.product_details_tab .nav-tabs{padding:10px 0px; border-radius:5px}



.product_comment .comment_frm ul li:nth-child(1){width:100%}

.product_comment .comment_frm ul li:nth-child(2){width:100%}



.blog_details_area .blog_title{padding:0px 20px}

.blog_details_area .blog_title .blog_title_lft{width:100%; margin-bottom:20px;}

.blog_details_area .blog_title .blog_title_rht{width:100%}

.blog_details_area .blog_para p{padding:0px 20px}

.blog_details_area .blog_bg_img{padding:20px}

.blog_details_area .blog_author_area{text-align:center}

.blog_details_area .blog_author_area figure{display:inline-block; margin-right:0px; float:none}

.blog_details_area .blog_author_area{border-radius:24px}

.blog_details_area .site-section-area{text-align:center}

.blog_details_area .blog_author_area .author_details{padding:0px}

.blog_details_area .blog_author_area .author_details2 h4{margin-top:20px}

.blog_details_area .blog_author2{margin:6px 0px 0px 0px}

.blog_details_area .blog_comment .product_comment{padding:20px}

.blog_details_area .blog_author_area{padding:10px 20px}

.blog_details_area .site-section-area{margin:20px}

.welcome-area .welcome-product li{float:none !important}



.product_details_img .images{line-height:normal}

.attachment-shop_thumbnail{width:auto !important; height:250px}

.product_details_img .thumbnails > a{float:right; height:60px; width:80px; margin:1px 0px}

.product_details_img .thumbnails > a img{ width:100% !important}

.product_details_img .thumbnails{top:0px}

.product_details .product_details_img{width:280px}

.subscribe-area .mc4wp-form {
	width: 90% !important;
}



}

	



@media screen and (min-width:200px) and (max-width:480px){

.shoes-coll-area ul li{width:58px; height:58px}

	

.blog_details_area .blog_social_area .share_txt{width:100%}

.blog_details_area .blog_social_area{padding:16px 32px; border-radius:10px}

.footer-area .footer_bx{padding:20px 15px}

header .cart-area div{display:none}

.slider-area .carousel-caption p{ margin:0px 0px;}

.slider-area .carousel-caption h5{ margin:0px}

.slider-area .carousel-indicators{display:none}

.subscribe-area .mc4wp-form {
	width: 100% !important;
}
.subscribe-area .mc4wp-form .mc4wp-form-fields button { 
	padding: 10px 12px; 
}


}

@media screen and (min-width:200px) and (max-width:360px){

	.product-coll-listing .listing-col-bx{width:260px; padding:0px}
.subscribe-area .mc4wp-form .mc4wp-form-fields input {
	width: 100% !important;
	margin-bottom: 10px;
}
}









