

/* about welcome */
.demo-3.about_area .about_welcome p{
	line-height: 30px;
}
.blog_details_area .site-section-area h2{
    font-size: 30px;
}

.demo-3.deal_wrapper {
    padding: 100px 0px !important;
    min-height: auto !important; 
    margin-bottom: 0px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
    top: 0px; 
}
.deal_wrapper.demo-3.disc{
	margin-top: 0;
}
.demo-3.about_reviews .deal_lft {
    width: 51%;
    float: left;
    text-align: left;
    color: #fff;
}
.demo-3.about_reviews .deal_rht {
    width: 40%;
    float: right;
}
.demo-3.about_reviews .deal_lft .deal_txt {
    width: 80%;
    float: left;
}
.demo-3.about_reviews .deal_lft .deal_count {
    width: 70px;
    float: right;
}
.demo-3.about_reviews .deal_lft .deal_txt h6 {
    font-size: 14px;
    color: #e11013;
    text-transform: uppercase;
}
.demo-3.about_reviews .deal_lft .deal_txt h2 {
    font-size: 36px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin: 15px 0px 20px 0px;
}
.demo-3.about_reviews .deal_lft .deal_txt p {
    color: #d5d5d5;
}
.demo-3.about_reviews .deal_lft .deal_txt h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0px 40px 0px;
}
.demo-3.about_reviews .deal_lft .deal_count ul li {
    width: 100%;
    background: #e11013;
    margin-bottom: 3px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.demo-3.about_reviews .deal_lft .deal_count ul li span {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -4px;
}
#cas-pro3-countdown ul li:last-child{
	display: none;
}
.demo-3 .spbtn{
	border-radius: 30px;
}


.demo-3.weekly_featured_area .site-section-area {
    text-align: center;
    margin: 50px 0;
}
.demo-3.about_area .about_welcome h2 em {
    color: #e53235;
    text-transform: uppercase;
    font-style: normal;
}
.footer-area .widget_nav_menu {
    width: 22% !important;
}

.footer-area .footer_bx:last-child {
    width: 28% !important;
}

.demo-3.weekly_featured_area .featured-area .featured-item {
	display: inline-block;
	float: left;
	overflow: hidden;
	text-align: center;
	width: 270px;
	margin-right: 22px;
	position: relative; 
}
.demo-3.weekly_featured_area .featured-area .featured-item:nth-child(4n) {
	margin-right: 0px;
}
.demo-3.weekly_featured_area .featured-area .featured-item h2 {
	font-size: 20px;
	font-weight: bold;
	color: #e11013;
	text-transform: uppercase;
	font-family:playfair display
}
.demo-3.weekly_featured_area .featured-area .featured-item h2 span {
	font-size: 16px;
}
.demo-3.weekly_featured_area .featured-area .featured-item h4 {
	font-size: 15px;
	font-family: 'montserrat', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	margin: 10px 0px;
	color: #444444;
}
.demo-3.weekly_featured_area .featured-area .featured-item h5 {
	font-size: 13px;
	font-family: 'montserrat', sans-serif;
	font-weight: bold;
	color: #63db28;
	margin: 30px 0;
}
.demo-3.weekly_featured_area .featured-area .featured-des {
    padding: 20px 0px;
    text-align: left;
}
.demo-3.weekly_featured_area .featured-area  .featured-des .rating_star{
	margin-bottom:10px
}
.demo-3.weekly_featured_area .featured-area  .featured-des .rating_star i{
	color:#afbd0f
}
.demo-3.weekly_featured_area .featured-area .outstock h4 {
	text-decoration: line-through
}
.demo-3.weekly_featured_area .featured-area .outstock h5 {
	color: #bcbcbc
}
.demo-3.weekly_featured_area .featured-area .featured-item figure {
	position: relative
}
.demo-3.weekly_featured_area .featured-area .featured-item .featured-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/item-bg.png) left top repeat;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .2s ease-in-out;
	padding-top: 20px;
}
.demo-3.weekly_featured_area .featured-area .featured-item:hover .featured-overlay {
	opacity: 1
}
.featured-overlay-des {
	position: absolute;
}
.featured-overlay-lft {
	width: 150px;
	float: left;
	padding-top: 50px;
	text-align: right;
	margin-right: 20px;
}
.featured-overlay-lft ul li {
	width: 150px;
	float: left;
	padding: 6px 0px;
	font-family: 'montserrat', sans-serif;
}
.demo-3.weekly_featured_area .featured-area  .featured-overlay-des {
	position: absolute;
	width:100%;
	bottom:30px;
	left: 0;
}

.demo-3.weekly_featured_area .featured-area  .featured-overlay-rht {
	background: #222;
	border-radius: 50px;
	color: #fff;
	margin: 0 40px;
	width: 190px;
}
.demo-2.weekly_featured_area .featured-overlay-rht ul li:first-child {
    background: transparent;
    border: 0;
}
.demo-2.featured-area.weekly_featured_area .featured-overlay-rht ul li a{
	color: #fff !important;
    background-color: transparent;
    padding: 0;
}
.demo-3.weekly_featured_area .featured-area .featured-overlay-rht ul li {
	padding: 10px;
	display:inline-block;
	position:relative
}
.demo-3.featured-area .featured-overlay-rht ul {
    margin-left: -10px;
}
.demo-3.featured-area .featured-overlay-rht ul li:last-child {
    padding: 0 10px;
}
.demo-3.featured-area a.woocommerce-review-link {
    display: none;
}
.demo-3.featured-area .featured-overlay-rht ul li .yith-wcwl-add-to-wishlist .ajax-loading {
    display: none !important;
}
.demo-3.featured-area .featured-overlay-rht ul li .yith-wcwl-add-button > a i {
    margin-right: 0;
}
.demo-3.featured-area .featured-overlay-rht ul li:last-child span {
    top: -30px !important;
}
.demo-3.weekly_featured_area .featured-area .featured-overlay-rht ul li span{
	background: #e11013 none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    font-size: 10px;
    left: -34px;
    position: absolute;
    top: -20px;
    width: 100px;
	text-transform:uppercase;
}
.demo-3.weekly_featured_area .featured-area .featured-overlay-rht ul li span:after{
	 border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E11013;
    bottom: -6px;
    content: "";
    display: inline-block;
    left: 40px;
    position: absolute;
}
.demo-3.weekly_featured_area .featured-area .featured-overlay-rht ul li:hover span{
	display:block
}
.demo-3.weekly_featured_area .featured-area .featured-des h2 ins,
.demo-3.weekly_featured_area .featured-area .featured-des h2 del{
	text-decoration: inherit;
}
.demo-3.weekly_featured_area .featured-area .featured-des h2 del .woocommerce-Price-amount{
	color: #777;
	font-size: 14px;
}
.demo-3.featured-area a.add_to_cart_button:after ,
.demo-3.featured-area a.added_to_cart.wc-forward,
.demo-2.featured-area .featured-overlay-rht ul li .yith-wcwl-add-to-wishlist .ajax-loading{
	display: none !important
}
.demo-3.featured-area a.compare.added:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0c5";
    margin-left: 0;
}

.contact_detail_area {
    padding-top: 60px;
    width: 100%; 
}
.contact_detail_area ul li:first-child {
    margin-right: 0px;
    width: 100%;
    margin-top: 0px;
}
.contact_detail_area ul li {
    display: block;
    float: inherit;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}
.cform .product_comment .comment_frm, 
.product_comment .comment_frm{
    margin-top: 0;
}
.product_comment .comment_frm .cmn-btn2 { 
    border-radius: 30px;
}
.cmn-btn2{
    background: #e11013 !important;
}


/* featured tab */
.demo-2.featured-area .featured-item .featured-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s ease-in-out;
    padding-top: 20px;
}
.demo-2.featured-area .featured-item:hover .featured-overlay {
    opacity: 1;
}
.demo-2.featured-area .featured-overlay-des {
    position: absolute;
    width: 100%;
    bottom: 30px;
    right: inherit;
}
.demo-2.featured-area .featured-overlay-rht {
    background: #222;
    border-radius: 50px;
    color: #fff;
    margin: 0 40px;
    width: 190px;
    float: none;
}
.demo-2.featured-area .featured-overlay-rht ul li {
    padding: 10px;
    display: inline-block;
    position: relative;
}
.demo-2.featured-area .featured-overlay-rht ul li a{
    color: #fff !important;
    background-color: transparent;
    padding: 0;
}
.demo-2.featured-area .featured-overlay-rht ul li span {
    background: #e11013 none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    font-size: 10px;
    left: -34px;
    position: absolute;
    top: -20px;
    width: 100px;
    text-transform: uppercase;
}
.demo-2.featured-area .featured-overlay-rht ul li span:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E11013;
    bottom: -6px;
    content: "";
    display: inline-block;
    left: 40px;
    position: absolute;
}
.demo-2.featured-area .featured-overlay-rht ul li:hover span {
    display: block;
}
.demo-2.featured-area .featured-overlay-rht ul li .yith-wcwl-add-button > a i {
    margin-right: 0;
}
.demo-2.featured-area .featured-overlay-rht ul li .yith-wcwl-add-to-wishlist .ajax-loading{
    display: none !important
}
.demo-2 .featured-overlay-rht ul li:first-child {
    background: transparent;
    border:0;
}
.demo-2.featured-area .featured-overlay-rht ul li:last-child {
    padding: 0 10px;
}
.demo-2.featured-area .featured-overlay-rht ul li:last-child a{
    position: absolute;
    top: -17px;
}
.demo-2.featured-area .featured-overlay-rht ul{
    margin-left: -10px;
}
.header-top-area .header-top-right a {
    color: #444444 !important;
    font-size: 13px;
}
.demo-2.featured-area .featured-overlay-rht ul li:last-child span{
    top: -47px !important;
}
.header-top-area .header-top-right .dropdown-menu a{
    color: #999;
}
.single-post .blog_page_area ,
.single-product .product_details,
.post-type-archive-product .featured-area.demo-2.woocommerce {
    padding: 40px 0;
}
.woocommerce .demo-2.featured-area .add_to_cart_button.added, .woocommerce .feature-tab-area .ajax_add_to_cart.added {
    display: block;
}
.demo-2.featured-area a.compare.added:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0c5";
    margin-left: 0;
}
.demo-2.featured-area a.add_to_cart_button:after ,
.demo-2.featured-area a.added_to_cart.wc-forward {
    display: none;
}
.demo-2.featured-area.woocommerce #respond input#submit.loading, 
.demo-2.featured-area.woocommerce a.button.loading, 
.demo-2.featured-area.woocommerce button.button.loading, 
.demo-2.featured-area.woocommerce input.button.loading {
    opacity: .25;
    padding-right: 0;
}
.swrap {
    background: #fbfbfb;
    padding: 50px;
    margin-left: -15px;
    margin-top: 50px;
}
#review .woocommerce-tabs .wc-tabs {
    background: #fff none repeat scroll 0 0;
    border-bottom: medium none;
    border-radius: 0;
    color: #333;
    float: left;
 
    margin-bottom: 40px;
    max-width: 828px;
    padding: 30px 30px;
    text-transform: uppercase;
    width: 28%;
}
#review .woocommerce-tabs .wc-tabs li {
    margin-bottom: 0px;
    padding: 0;
}
#review .woocommerce-tabs .wc-tabs li.active a, 
.product_details_tab .nav-tabs > li.active > a, 
.product_details_tab.nav-tabs > li.active > a:focus, 
.product_details_tab .nav-tabs > li.active > a:hover {
    background: none;
    border: 1px solid #000;
    color: #e11013;
}
#review .woocommerce-tabs .wc-tabs li a {
    display: block;
    padding: 15px 26px;
    position: relative;
    text-transform: capitalize;
    border: none !important;
}
.product_details_tab .woocommerce-Tabs-panel {
    padding: 0px 30px;
    width: 68%;
    float: right;
}
.swrap .woocommerce-tabs{
    overflow: hidden;
}
.related_products .featured-item {
    width: 268px;
    margin-right: 22px;
}
.related_products .yith-wcwl-add-to-wishlist {
    padding-left: 0;
}

.featured-area .featured-des.pro-price,
.related_products.featured-area .featured-des,
.related_products .featured-des {
    text-align: left;
    padding: 20px 0;
}
.featured-area .featured-des.pro-price .woocommerce-review-link,
.related_products.featured-area .featured-des .woocommerce-review-link{
    display: none;
}
.featured-area .featured-des.pro-price .rating_star,
.related_products.featured-area .featured-des .rating_star{
    padding: 10px 0;
}
.related_products.demo-3 .site-section-area {
    text-align: center;
}
.related_products.demo-3 .site-section-area h6{
    margin-bottom: 50px;
}

/* single product page */
.demo-2.product_details .product_details_img {
    width: 35.5%;
    float: left;
    position: relative;
}
.demo-2 .product_details_img .thumbnails {
    top: inherit; 
    bottom: -160px;
    clear: both;
    float: none;
    position: absolute;
    right: 0;
    width: 100%;

}
.demo-2 .product_details_img .thumbnails > a {
    border: 1px solid #ccc;
    display: inline-block;
    float: left;
    margin-bottom: 12%;
    margin-right: 2%;
    margin-top: 13%;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 23.5%;
    line-height: normal;
    text-align: center;
    height: 104px;
}
.demo-2 .product_details_img .thumbnails > a:last-child{
    margin-right: 0;
}

.pro_popup .modal-dialog{
    width:800px;
    max-width:95%;
}
.pro_popup .product_details{
    padding:0px;
} 
.pro_popup .product_details_txt{
    text-align: left;
} 
.pro_popup .product_details .product_details_txt h3{
    font-size: 20px;
}
.pro_popup .add_btn_area table.variations tbody tr td.label{
    width: 85px;
    text-align: left !important;
}
.pro_popup .single_variation_wrap {
    position: relative;
}
.pro_popup .add_btn_area table.variations tbody tr, 
.pro_popup .product_details .size_bx .size {
    width: 100%;
    float: left;
    display: block;
    font-family: "Playfair Display";
    font-weight: bold;
    line-height: 55px;
}
.pro_popup .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
    position: relative;
}
.pro_popup .add_btn_area form.cart button.single_add_to_cart_button.disabled, 
.pro_popup .add_btn_area form.cart button.single_add_to_cart_button.disabled:hover, 
.pro_popup .add_btn_area form.cart button.single_add_to_cart_button{
    margin-left: 30px;
}
.pro_popup .product_details .social_pop { 
    right: -80px; 
}
.demo-2.signlepro.product_details .share_product > a,
.pro_popup .product_details .share_product > a {
    background: #000000 none repeat scroll 0 0; 
    color: #fff;
}

.demo-2.signlepro.product_details .share_product,
.pro_popup .product_details .share_product {
    position: relative;
    right: 100px;
    top: 15px;
    margin-bottom: 150px;
}
.demo-2.signlepro.product_details .share_product{
    right: 200px;
}
.demo-2.signlepro.product_details .add_btn_area form.variations_form.cart + .add_wishlist,
.pro_popup .product_details .add_btn_area form.variations_form.cart + .add_wishlist {
    top: inherit;
    position: absolute;
    bottom: -58px;
    left: 0;
}

.pro_popup.signlepro.product_details .add_btn_area .add_wishlist,
.pro_popup .product_details .add_btn_area .add_wishlist { 
    left: 0;
    top: 85px; 
}
.pro_popup .add_btn_area form.cart .quantity .plus{
    right: 6px;
}
.pro_popup .modal-body { 
    min-height: 600px;
}
.home_trendy_area .home_trendy_des button{
    padding: 15px 35px !important;
    border-radius: 30px;
}
#testibg{
    background-size: 100% 100% !important;
}
.subscribe-area .container{
    background: #e11013 url(../images/Subscribe.png) center center no-repeat;
}

@media screen and (min-width:993px) and (max-width:1365px){
.welcome-area .welcome-product li:nth-child(3){float:left}
.welcome-product {display: inline-block;width: 780px;}
.newsBlg-area .blog-section1{width:31%; min-height:450px; overflow:hidden}
.newsBlg-area .blog-section2 h3{margin:30px 0 10px}
.blog_page{width:68%}
.blog_details_area .blog_author_area .author_details{padding:20px}
.blog_details_area .blog_author_area .author_details2 h4 span{margin-left:15px}
.blog_details_area .blog_author_area figure{margin-right:20px}
.blog_details_area .blog_author2 {margin: 6px 0 0;}
.about_reviews_rht figure.clearfix{padding:0px 70px}
.about_area .about_reviews .about_reviews_rht{width:60%}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%}
.about_area .about_shipping{padding:30px 15px}
.about_area .about_shipping ul li h4{width:70%}
.subscribe-area ul li:nth-child(2){margin:0% 4%}
.partner-area ul li{width:12%; margin:0% 2%}
.featured-area .tab-content{text-align:center}
.featured-area .featured-item{float:none; margin:5px !important}
.slider-area .carousel-caption{padding:30px 0px; left:35%; bottom:0px}
.slider-area .carousel-caption p{margin:10px 0px}
.demo-3.weekly_featured_area .featured-area .featured-item,
.featured-area .featured-item{width:23%}
.featured-area .featured-overlay-rht{margin:0px 10px}
.contact_frm_area{width:66%}
.home_accesories_area .carousel-indicators{width:18%}
.blg_full{width:100%}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .about_area.demo-3 .about_reviews {
        min-height: 350px;
        padding-top: 50px;
    }
}
@media screen and (min-width:993px) and (max-width:1169px){
.header_line {
    left: 29%;
    position: absolute;
    top: 35px;
}   
.contact_frm_area{width:66%}
}
@media (min-width: 1024px) {
    .about_area.demo-3 .about_reviews {
        min-height: 390px; 
    }
}

@media screen and (min-width:960px) and (max-width:1024px){ 
    .demo-3.weekly_featured_area .featured-area .featured-item,
    .featured-area .featured-item{
        float: none;
        margin-right: 0
    }
    .about_area.demo-3 .about_reviews{
      min-height: 444px !important; 
    }
    .footer-area .footer_bx:last-child {
      width: inherit;
    }
}


@media screen and (min-width:768px) and (max-width:992px){ 
    .footer-area .footer_bx:last-child {
      width: 100% !important;
    }
    .demo-3.about_area.demo-3 .about_reviews{
      min-height: 444px !important; 
    }
    .demo-3.weekly_featured_area .featured-area{
      margin: 0 auto;
      width: 670px;
    }
    .demo-3.weekly_featured_area .featured-area{
      margin: 0 auto;
      width: 670px;
    }
.header_line{left:24%}
.spacer{padding:20px 0px}
.nav > li > a {display: block;font-size: 13px;padding: 10px;position: relative;}
.spacer{padding:20px 20px}
.header-top-area{display:block}
.header-top-area ul li{padding-right:0px}
.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:3px}
.header-top-area .header-top-right{font-size:12px}
.header-top-area .header-top-right i{margin-right:0px}
header .cart-area div{margin-left:4px}
header .cart-area h3 span{right:-4px; top:-4px}
.navbar-brand > img{width:70; height:auto}
.welcome-area .welcome-product li{width:50%}
.nav-tabs > li {display: inline-block;float: none;margin-bottom: 20px;}
.featured-area .nav-tabs{float:none; top:0px;}
.featured-area .site-section-area{text-align:center}
.featured-area .featured-item{float:none; margin-right:0px;}
.product-coll-listing .listing-col-bx{width:50%; margin:0%; padding:20px;}
.product-coll-listing .listing-col-bx2{width:47%}
.subscribe-area .container{padding:30px 30px}
.subscribe-area ul li:nth-child(1){width:100%}
.subscribe-area ul li:nth-child(2){width:100%; margin:0%}
.newsBlg-area .blog-section1{width:48%; margin:0px; padding:20px; float:none; min-height:500px; overflow:hidden }
.newsBlg-area .blog-section1 .site-section-area{text-align:center}
.newsBlg-area .blog-section2 figure .blg-fig-bx {bottom: 45px;left: 0;position: relative;}
.home_blog_area .blog-section1{width:100%; min-height:auto}
.partner-area{text-align:center}
.footer-area{background-size:cover}
.footer-area .footer_bx {padding: 20px 50px;width: 100% !important;}
.footer_bx{background-position:top 30px right 50px}
.product_details_tab .nav > li > a{padding:10px}
/*product-details page css*/
.product_details{text-align:center}
.product_details .product_details_img{display: inline-block;float: none;max-width: 524px;width: 100%;}
.product_details .product_details_txt {float: none; padding: 20px;text-align: left;width: 100%;}
.product_details .product_details_txt h2{max-width:100%}
.product_comment .comment_frm ul li{text-align:center}
/*contact page css*/
.contact_detail_area ul li{padding-right:28px}
.contact_detail_area ul li:first-child{padding-right:0px}
.contact_detail_area ul li figure{float:none; margin-bottom:15px; display:inline-block}
.contact_detail_area ul li:first-child{max-width:100%}
.contact_detail_area {display: inline-block; float: none;padding-top: 60px;
    text-align: center;
    width: 100%;
}
.contact_frm_area{width:100%}
.side_bar .site-section-area{text-align:center}
.side_bar_wrapper{text-align:center}
.side_bar{width: 100%;padding: 20px;max-width: 430px;float: none;display: inline-block}
.side_bar .video_area{max-width:100%;}
.side_bar .popular_area ul li .pop_details{width:63%}
.blog_details_area{margin-bottom:0px}
.blog_details_area .site-section-area{text-align:center}
.blog_details_area .blog_author_area .author_details{padding:20px}
.blog_details_area .blog_author_area .author_details2 h4 span{margin-left:15px}
.blog_details_area .blog_author_area figure{margin-right:20px}
.about_reviews_rht figure.clearfix{padding:0px 70px}
.about_area .about_reviews .about_reviews_rht{width:60%}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%}
.about_area .about_shipping ul li{width:48.5%; margin:15px 0px}
.about_area .about_welcome h2{font-size:30px;}
.about_area .about_welcome h3{font-size:26px;}

.slider-area .carousel-caption{padding:5% 0px;}
.slider-area .carousel-caption h3{font-size:20px; margin-bottom:0px;}
.slider-area .carousel-caption h1{font-size:24px}
.slider-area .carousel-caption h2{font-size:26px; padding-bottom:0px;}
.slider-area .carousel-caption h4{font-size:20px;}
.slider-area .carousel-caption h4 span{font-size:26px;}
.slider-area .carousel-caption p{max-width:100%; font-size:14px; margin:5px 0px; line-height:normal}
.slider-area .carousel-caption h5 span{font-size:12px; padding:0px}
.subscribe-area .container{padding:30px 10px}
.subscribe-area ul li:nth-child(1){width:37%}
.subscribe-area ul li:nth-child(2){width:40%; margin:0%}
.subscribe-area ul li:nth-child(3){width:21%; margin:0%; text-align:right}
.subscribe-area ul li:nth-child(3) button{padding:10px}
.home_trendy_area .home_trendy_des h2{font-size:20px}
.home_trendy_area .home_trendy_des h4{margin:10px 0px}
.home_trendy_area .home_trendy_des{top:14%}
.home_accesories_area .carousel-indicators li span{display:none}
.home_accesories_area .carousel-indicators{width:6%}
}
 
@media screen and (min-width:200px) and (max-width:767px){
.footer-area .footer_bx:last-child {
  width: inherit;
}
.demo-3.weekly_featured_area .featured-area{
    margin: 0 auto;
    overflow: hidden;
    width: 585px;
}
header .navbar-collapse{background:#fff}    
.navbar .container{padding:0px}
.navbar .container .col-lg-7.col-sm-8.col-md-8{padding:0px}
.spacer{padding:20px 20px}
.header-top-area{display:block}
.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:3px; float:none; display:inline-block}
.header-top-area .header-top-right{font-size:12px}
.header-top-area .header-top-right i{margin-right:0px}
header .col-lg-2.col-sm-2{padding-top: 0px;position: absolute;top:3px;right: 80px;}
.navbar-brand > img {width: 120px;height: auto;margin-top: 10px;}
.nav-tabs > li {display: inline-block;float: none;margin-bottom: 20px;}
.featured-area .nav-tabs{float:none; top:0px; width:100%; margin-bottom:30px}
.featured-area .site-section-area{text-align:center}
.featured-area .featured-item{float:none; margin-right:0px;}
.newsBlg-area .blog-section1{width:100%; margin:0px; padding:20px; float:none }
.newsBlg-area .blog-section1 .site-section-area{text-align:center}
.newsBlg-area .blog-section2 figure .blg-fig-bx {bottom: 45px;left: 0;position: relative;}
.partner-area{text-align:center}
.partner-area ul li{ width:38%}
.footer-area{background-size:cover}
.footer-area .footer_bx {padding: 20px 50px;width: 100% !important;}
.footer_bx{background-position:top 30px right 50px}
/*product page css*/
.header-top-inner{margin-bottom:80px}
.pagination_area .pagination > li > a, .pagination > li > span {width:30px;height:30px;line-height:30px;}
/*product-details page css*/
.product_comment .comment_frm ul li{text-align:center}
.product_details{text-align:center}
.product_details .product_details_img{display: inline-block;float: none;max-width: 524px;width: 100%;}
.product_details .product_details_txt {float: none; padding: 20px;text-align: left;width: 100%;}
.nav-tabs > li{margin-bottom:0px;}
/*contact page css*/
.contact_detail_area{padding:20px; text-align: center;}
.contact_detail_area ul li{
    display: inline-block;
    float: none;
    max-width: 376px;
    width: 100%;
}
.contact_details_des{text-align:left}
.contact_frm_area{width:100%}

.blog_details_area .site-section-area{text-align:center}
.side_bar .site-section-area{text-align:center}
.side_bar_wrapper{text-align:center}
.side_bar{width: 100%;padding: 20px;max-width: 338px;float: none;display: inline-block}
.side_bar .popular_area ul li .pop_details{width:60%}
.side_bar .video_area{max-width:100%}
.about_area .about_happy ul li{width:45%; margin-bottom:20px}
.about_area .about_happy ul li figure{display:block; width:100%; text-align:center}
.about_area .about_happy ul li h4{width:100%; text-align:center}
.about_area .about_shipping ul li{width:100%; margin-bottom:20px}
.about_area .about_reviews .about_reviews_lft{width:100%; padding:0px;}
.about_area .about_reviews .about_reviews_rht{margin-top:30px}
.about_reviews_rht figure.clearfix {padding: 0px 15%;color:#fff;}
.about_area .about_reviews .about_reviews_rht .review_sld_img{float:none; display:inline-block}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%; text-align:center;}
.about_area .about_reviews .about_reviews_rht .review_sld_txt h4{margin-bottom:20px}
.about_area .about_welcome {padding: 0 20px; text-align:center}
.about_area .about_welcome h2{font-size:28px}
.about_area .about_welcome_lft{width:100%; text-align:center}
.about_area .about_welcome_img{width:100%; text-align:center}
.pro_pp_bx .product_details .product_details_img{ width:100%; margin-left:0px}
.pro_pp_bx .product_details .product_details_txt{ width:100%; margin-right:0px;}
.pro_pp_bx .product_details_img .images{text-align:center}
.pro_pp_bx .product_details .add_btn_area .qty_bx, .product_details .add_btn_area .btn_bx{text-align:center}
.pro_pp_bx .product_details .add_btn_area .qty_bx{ display:inline-block}
.pro_pp_bx .sp-quantity{display:inline-block}
.product_details_tab .review_bx{padding:20px}
.about_area .about_reviews .deal_lft{width:100%}
.about_area .about_reviews .deal_rht{width:100%}
.about_area .about_reviews{padding:100px 20px 100px 20px; height:auto}
.contact_detail_area{width:100%}
.home_trendy_area .home_trendy_lft{width:100%; margin-bottom:0px}
.home_trendy_area .home_trendy_rht{width:100%;}
.home_accesories_area .carousel-indicators li span{display:none}
}
@media screen and (min-width:581px) and (max-width:767px){
.header-top-area .col-xs-12{width:50%}
.welcome-area .welcome-product li{width:50%}
.welcome-area .welcome-product .wlcm-product-ttl2{width:233px}
.nav > li > a{padding:10px}
.product_details_tab .nav > li > a{padding:8px; font-size:11px;}
.nav-tabs > li{margin-bottom:0px;}
.product_details .product_details_txt h2{max-width:100%}
.slider-area .carousel-caption{padding:5% 0px; left:20%; bottom:0px}
.slider-area .carousel-caption h3{font-size:20px; margin-bottom:0px;}
.slider-area .carousel-caption h1{font-size:24px}
.slider-area .carousel-caption h2{font-size:26px; padding-bottom:0px;}
.slider-area .carousel-caption h4{font-size:20px;}
.slider-area .carousel-caption h4 span{font-size:26px;}
.slider-area .carousel-caption p{max-width:100%; font-size:14px; margin:5px 0px; line-height:normal}
.slider-area .carousel-caption h5 span{font-size:12px; padding:0px}
.slider-area .carousel-indicators{ bottom:-5px}

.subscribe-area .container{padding:30px 10px}
.subscribe-area ul li:nth-child(1){width:37%}
.subscribe-area ul li:nth-child(2){width:40%; margin:0%}
.subscribe-area ul li:nth-child(3){width:21%; margin:0%; text-align:right}
.subscribe-area ul li:nth-child(3) button{padding:10px}
.product-coll-listing .listing-col-bx{width:50%; margin:0%; padding:20px;}
.product-coll-listing .listing-col-bx2{ display: inline-block; max-width: 100%;width: 50%; margin-top:50px;}
.product_details_tab .container{padding:0px}
.blog_details_area .blog_title{padding:0px 20px}
.blog_details_area .blog_title .blog_title_lft{width:100%; margin-bottom:20px;}
.blog_details_area .blog_title .blog_title_rht{width:100%}
.blog_details_area .blog_para p{padding:0px 20px}
.blog_details_area .blog_bg_img{padding:20px}
.blog_details_area .blog_author_area figure{margin-right:20px}
.blog_details_area .blog_author_area .author_details{padding:0px}
.blog_details_area .blog_author_area .author_details2 h4{margin-top:20px}
.blog_details_area .blog_author2{margin:6px 0px 0px 0px}
.blog_details_area .blog_comment .product_comment{padding:20px}
.blog_details_area .blog_author_area{padding:10px 20px}
.blog_details_area .site-section-area{margin:20px}
.about_area .about_shipping ul li {width: 49%;margin-bottom: 30px;}

}
@media screen and (min-width:200px) and (max-width:780px){
    .slickr-flickr-gallery ul{
        width: 100% !important;
    }
    .slickr-flickr-gallery ul li{
        float: left !important;
    }
    .demo-3.about_reviews .deal_lft,
    .demo-3.about_reviews .deal_rht{
        width: 100% !important;
    }
    .footer-area .footer_bx:last-child {
        width: 100% !important;
    }
    .demo-3.weekly_featured_area .featured-area { 
      width: 270px;
    }
}
@media screen and (min-width:200px) and (max-width:580px){
.header-top-area{display:block}
.header-top-area .col-xs-12{width:100%}
.header-top-area .header-top-left ul{text-align:center}
.header-top-area ul li{padding-right:0px}
.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:3px}
.header-top-area .header-top-right{font-size:12px; float:none; text-align:right}
.header-top-area .header-top-right i{margin-right:0px}

.nav > li > a{border-bottom:1px solid #ccc !important}
/*product-details page css*/
.product_details_img .thumbnails > a{margin-top:0px; margin-bottom:0px}
.product_details .product_details_txt h2{font-size:20px}
.product_details .size_bx .size{width:100%; margin-bottom:10px;}
.product_details .add_btn_area .qty_bx, .product_details .add_btn_area .btn_bx{width:50%}
.product_details .add_btn_area .add_wishlist{width:100%; margin-top:20px; text-align:center}    
.product_details{padding:0px;}
.nav-tabs > li{display:block}
.slider-area .carousel-caption{padding:5px 0px; left:0px; bottom:0px}
.slider-area .carousel-caption h3{font-size:14px; margin-bottom:0px;}
.slider-area .carousel-caption h1{font-size:14px}
.slider-area .carousel-caption h2{font-size:15px; padding-bottom:0px;}
.slider-area .carousel-caption h4{font-size:14px;}
.slider-area .carousel-caption h4 span{font-size:14px;}
.slider-area .carousel-caption p{max-width:100%; font-size:11px; margin:5px 0px; line-height:normal}
.slider-area .carousel-caption h5 span{font-size:10px; padding:0px}
.slider-area .carousel-indicators{ bottom:-5px}

.welcome-area .welcome-product .wlcm-product-ttl2{width:80%;left:0px;margin:0px 10%}
.subscribe-area .container{padding:20px}
.subscribe-area ul li:nth-child(1){width:100%}
.subscribe-area ul li:nth-child(2){width:56%; font-size:10px; margin:0px}
.subscribe-area ul li:nth-child(2) input{font-size:10px;}
.subscribe-area ul li:nth-child(3){width:40%; text-align:right}
.subscribe-area ul li:nth-child(3) button{font-size:9px; padding:10px 10px}
.product-coll-listing{text-align:center}
.product-coll-listing .listing-col-bx .site-section-area{text-align:center}
.product-coll-listing .listing-col-bx{width: 300px;padding: 0px 20px;display: inline-block;float: none;text-align: left; max-width:100%}
.product-coll-listing .listing-col-bx2{ display: inline-block; max-width: 100%;width:350px; padding:0px 20px; float:none}
.site-section-area h2{font-size:20px}
.product_details .product_details_txt h5 span{display:block; width:100px; margin-top:20px;}
.product_details .product_details_txt h2{max-width:100%}
.product_details_tab .container{padding:0px}
.product_details_tab .nav-tabs{padding:10px 0px; border-radius:5px}
.product_comment .comment_frm ul li:nth-child(1){width:100%}
.product_comment .comment_frm ul li:nth-child(2){width:100%}
.blog_details_area .blog_title{padding:0px 20px}
.blog_details_area .blog_title .blog_title_lft{width:100%; margin-bottom:20px;}
.blog_details_area .blog_title .blog_title_rht{width:100%}
.blog_details_area .blog_para p{padding:0px 20px}
.blog_details_area .blog_bg_img{padding:20px}
.blog_details_area .blog_author_area{text-align:center}
.blog_details_area .blog_author_area figure{display:inline-block; margin-right:0px; float:none}
.blog_details_area .blog_author_area{border-radius:24px}
.blog_details_area .site-section-area{text-align:center}
.blog_details_area .blog_author_area .author_details{padding:0px}
.blog_details_area .blog_author_area .author_details2 h4{margin-top:20px}
.blog_details_area .blog_author2{margin:6px 0px 0px 0px}
.blog_details_area .blog_comment .product_comment{padding:20px}
.blog_details_area .blog_author_area{padding:10px 20px}
.blog_details_area .site-section-area{margin:20px}
.welcome-area .welcome-product li{float:none !important}
.product_details_img .images{line-height:normal}
.attachment-shop_thumbnail{width:auto !important; height:250px}
.product_details_img .thumbnails > a{float:right; height:60px; width:80px; margin:1px 0px}
.product_details_img .thumbnails > a img{ width:100% !important}
.product_details_img .thumbnails{top:0px}
.product_details .product_details_img{width:280px}
.product_details_tab .nav-tabs{width:100%; height:auto}
.product_details_tab .nav-tabs > li {display:block; border-top:1px solid #ccc}
.product_details_tab .tab-content{width:100%}
.home_trendy_area .container{padding:30px}
.home_trendy_area .home_trendy_des {position: absolute; right: -2%; top: 5%; width: 200px;}
.home_trendy_area .home_trendy_des2{left:2%}
.home_trendy_area .home_trendy_des h2{font-size:18px;}
.home_trendy_area .home_trendy_des h4{margin:10px 0px}
.home_trendy_bg{display:none}

}
    
@media screen and (min-width:200px) and (max-width:480px){
.shoes-coll-area ul li{width:58px; height:58px}
    
.blog_details_area .blog_social_area .share_txt{width:100%}
.blog_details_area .blog_social_area{padding:16px 32px; border-radius:10px}
.footer-area .footer_bx{padding:20px 15px}
header .cart-area div{display:none}
.slider-area .carousel-caption p{ margin:0px 0px;}
.slider-area .carousel-caption h5{ margin:0px}
.slider-area .carousel-indicators{display:none}
}
@media screen and (min-width:200px) and (max-width:360px){
    .product-coll-listing .listing-col-bx{width:260px; padding:0px}
.home_accesories_area .accessories_lft .ac_inner h3{display:none}
.home_accesories_area .accessories_lft .ac_inner h6{display:none}
.home_accesories_area .accessories_lft .ac_inner .ac_procuct_one{left:25%}
.home_accesories_area .accessories_lft .ac_inner .ac_procuct_three{left:33%}
}


