@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i);
/*------------------------------------------------------------------
[Table of contents]
1. index
2. index2
3. Navigation / #navbar
4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/
/* ------------------------------------
recent_news_area start here 
---------------------------------------*/
.recent_news_area{  
	position:relative; 
	z-index:1;
	margin-bottom:-80px;
	padding-bottom:100px; 
}
.recent_news_area .site-section-area{
	text-align:center;
	margin-bottom:40px;
}
.recent_news_area .carousel-inner .item{
	overflow:hidden;
	height:500px;
}
.recent_news_area .news_cnt{
	background:#fff;
	margin:0px 100px;
	padding:20px;	
}
.recent_news_area .news_cnt .news_slider_img{
	position:relative;
	left:-100px;
	margin-right:-100px;
	top:10px;
}
.recent_news_area .carousel-indicators{
	background: #e11013 none repeat scroll 0 0;
    left: inherit;
    margin-left: 0;
    padding: 30px;
    right: -20px;
    top: 30px;
    width: auto;
}
.recent_news_area  .carousel-indicators li{
	display:block;
	width:136px;
	height:100px;
	text-indent:0;
	margin: 18px 0;
	border-radius:0px;
	overflow:hidden
}
.recent_news_area  .carousel-indicators li.active{
	background:#000 url(../images/active_img.png) center center no-repeat;
}
.recent_news_area  .carousel-indicators li.active img{
	opacity:.2
}
.recent_news_area .news_cnt .news_slider_txt{
	padding:50px 0px;
}
.recent_news_area .news_cnt .news_slider_txt figure{
	width:60px;
	height:60px;
	border-radius:100%;
	overflow:hidden
}
.recent_news_area .news_cnt .news_slider_txt h6{
	font-size:13px;
	color:#e11013;
	font-family: 'Arimo';
	margin:20px 0px
}
.recent_news_area .news_cnt .news_slider_txt h3{
	font-size:22px;
	font-family: 'Playfair Display';
	font-weight:bold;
	margin-bottom:30px;
}
.recent_news_area .news_btn_area{
	margin-top:30px;
}
.recent_news_area .news_btn_area span{
	background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 100%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    text-align: center;
    width: 50px;
}    
/* ------------------------------------
5. blog page area start here 
---------------------------------------*/
.blog_page{
	background:none;
	padding:0px 0px;
	top:0px
}
.blog_page .news_cnt{
	background:#f6f6f6;
	margin-bottom:50px;
}
.blog_page .news_cnt:after{
	content:"";
	clear:both;
	display:block
}
.recent_news_area .news_btn_area span{
	background:#fff;
}
.recent_news_area .news_btn_area span.grey{
	background:#fafafa;
}
.side_bar{
	width:280px;
	max-width:100%;
	float:right;
}
.blog_page .newsBlg-area{
	padding:0px;
}
.side_bar .search_area{
	margin-bottom:40px;
	background: #fafafa;
    border: medium none;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.side_bar .search_area:after{
	content:"";
	clear:both;
	display:block;
}
.side_bar .search_area input{
	background:none;
	border:none;
	display:inline-block;
	float:left	;
	padding:3px;
	width:200px;
	text-align:center;
	font-size:13px;
	border:none
}
.side_bar .search_area input:focus{
	border:none;
	outline:none
}
.side_bar .search_area button{
	background: url(../images/search-icon.png)  center center no-repeat;
	display:inline-block;
	border:none	;
	width:30px;
	height:30px;
	float:right
}
.side_bar .popular_area{
	margin-bottom:40px;
}
.side_bar  .site-section-area{
	text-align:left;
	margin-bottom:30px;
}
.side_bar  .site-section-area h2{
	font-size:24px
}
.side_bar .popular_area figure{
	width:85px;
	height:75px;
	overflow:hidden;
	float:left;
	margin-right:15px;
}
.side_bar .popular_area ul li:after{
	content:"";
	clear:both;
	display:block;
	margin-bottom:20px;
}
.side_bar .popular_area ul li .pop_details{
	float:left;
	width:176px;
	font-size:13px;
	text-transform:uppercase;
}
.side_bar .popular_area ul li .pop_details span{
	display:block;
	font-size:11px;
	color:#e53235;
}
.side_bar .metadata_area{
	margin-bottom:40px;
}
.side_bar .metadata_area ul li a{
	border-bottom:1px solid #f2f2f2;
	display:block;
	padding:10px 0px;
	font-size:12px;
}
.side_bar .metadata_area ul li a i{
	margin-right:10px;
}
.side_bar .video_area {
	text-align:center;
}
.side_bar .video_area iframe{
	width:100%;
	height:auto;
	border:none
}
.side_bar .video_area h6{
	text-transform:uppercase;
	color:#e53235;
	margin:15px 0px;
}
.side_bar .video_area h3{
	text-transform:uppercase;
	font-size:16px;
}
.tag_area ul li{
	display:inline-block;
	background:#fafafa;
	border-radius:20px;
	margin:2px 0px;
	font-family: "Arimo", sans-serif;
	overflow:hidden
}
.tag_area ul li a{
	display:block;
	padding:7px 17px;
	color:#a6a5a5;
}
.tag_area ul li a:hover{
	background:#e53235;
	color:#fff;
}
.tag_area ul li a.active{
	background:#e53235;
	color:#fff;
}
/* ------------------------------------
6. blog page area start here 
---------------------------------------*/
.blog_details_area.blg-2{
	margin-bottom:50px;
	padding:0px 150px;
    overflow: hidden;
} 
.blog_details_area .blog_title{
	margin:30px 0px;
}
.blog_details_area .blog_title .blog_title_lft{
	width:23%;
	float:left;
	border-right:1px solid #ccc;
	padding-right:20px;
}
.blog_details_area .blog_title .blog_title_lft p{
	width:70px;
	height:70px;
	border-radius:100%;
	background:#333;
	display:block;
	float:left;
	text-align:center;
	line-height:70px;
	color:#fff;
	margin-right:15px;
	font-size:12px;
}
.blog_details_area .blog_title .blog_title_lft h3{
	float:left;
	font-size:30px;
}
.blog_details_area .blog_title .blog_title_lft h3 span{
	color:#e53235;
	text-transform:uppercase;
	display:block;
	font-size:12px;
}
.blog_details_area .blog_title .blog_title_rht{
	width:74%;
	float:right;
}
.blog_details_area .blog_title .blog_title_rht h5{
	color:#e53235
}
.blog_details_area .blog_title .blog_title_rht h3{
	font-weight:bold;
	margin:10px 0px;
}
.blog_details_area .blog_title .blog_title_rht h6{
	color:#e53235
}
.blog_details_area .blog_title .blog_title_rht h6 span{
	color:#7b7b7b;
	margin-right:20px;
	display:inline-block
}
.blog_details_area .blog_bg_img{
	background:url(../images/blg-bg.png) center top no-repeat;
	height:162px;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	font-family: "Playfair Display",serif;
	padding:56px 144px;
	color:#fff;
	text-align:center;
	margin: 60px 0;
}
.blog_details_area .blog_para p{
	padding-left:70px;
}
.blog_details_area .blog_social_area{
	background:#000;
	padding:16px 70px;
	border-radius:70px;
	margin: 70px 0;
}
.blog_details_area .blog_social_area .social_icon a {
    background: #363636 none repeat scroll 0 0;
    border-radius: 100%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.blog_details_area .blog_social_area .social_icon a:nth-child(1) i{
	color:#586ea7
}
.blog_details_area .blog_social_area .social_icon a:nth-child(2) i{
	color:#79bdf4
}
.blog_details_area .blog_social_area .social_icon a:nth-child(3) i{
	color:#fe6e51
}
.blog_details_area .blog_social_area .social_icon a:nth-child(4){
	/*background:#5196c5;*/
}
.blog_details_area .blog_social_area .social_icon a:nth-child(4) i{
	color:#fff
}
.blog_details_area .blog_social_area .social_icon a i{
	color:#79bdf4;
	font-size:18px;
}
.blog_details_area .blog_social_area .social_icon a:hover i{
	color:#e53235
}
.blog_details_area .blog_social_area .share_txt{
	width:110px;
	float:left;
	line-height:50px;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	font-family: "Playfair Display",serif;
}
.blog_details_area .blog_author_area{
	padding:10px;
	border-radius: 100px;
	background: #fafafa; /* For browsers that do not support gradients */
}
.blog_details_area .blog_author_area figure{
	width:170px;
	height:170px;
	background:#333;
	float:left;
	margin-right:50px;
	position:relative
}
.blog_details_area .blog_author_area figure button{
	background: #e53235 none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    bottom: 20px;
    color: #fff;
    font-size: 12px;
    left: 34px;
    padding: 5px 30px;
    position: absolute;
    text-transform: uppercase;
}
.blog_details_area .blog_author_area .author_details {
    padding: 40px;
}
.blog_details_area .blog_author_area .author_details h4{
	text-transform:uppercase;
	color:#e53235;
	font-weight:bold;
	font-family: "Playfair Display",serif;
	margin-bottom:15px;
}
.blog_details_area .blog_author_area .author_details p{
	font-style:italic;
}
.blog_details_area  .site-section-area{
	text-align:left;
	margin: 40px 0;
}
.blog_details_area  .site-section-area h2{
	font-size:24px;
}
.blog_details_area  .site-section-area h2 span{
	color:#e53235;
}
.blog_details_area  .blog_author2{
    margin: 6px 0 0 174px;
}
.blog_details_area .blog_author_area .author_details2 h4{
	text-transform:uppercase;
	color:#444;
	font-weight:bold;
	font-family: "Playfair Display",serif;
	margin-bottom:15px;
	font-size:15px;
}
.blog_details_area .blog_author_area .author_details2 h4 span{
	color:#e53235;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	margin-left:40px;
}
.blog_details_area .blog_comment .product_comment{
    padding: 40px 0;
    text-align: left;
}
.blog_details_area .blog_comment .comment_frm{
	margin-top:0px;
}
.blog_details_area .blog_comment .comment_frm .cmn-btn2{
	padding:16px 50px;
	border-radius:30px
}
.product_comment .comment_frm input[type="text"], .product_comment .comment_frm textarea{text-align:left}
.product_comment{text-align:center; padding:60px 0px;}
.product_comment .site-section-area h2{
	font-size:24px;
}
.product_comment .site-section-area h2 span{
	color:#e53235
}
.product_comment .comment_frm{
	display:inline-block;
	max-width:100%;
	width:860px;
	margin-top:40px;
}
.product_comment .comment_frm input[type="text"], .product_comment .comment_frm textarea{
	width:100%;
	padding:18px;
	background:#fafafa;
	border-radius:30px;
	border:none;
	text-align:left;
}
.product_comment .comment_frm textarea{
	height:150px
}
.product_comment .comment_frm ul li{
	margin-bottom:5px;
}
.product_comment .comment_frm ul li:nth-child(1){
	display:inline-block;
	width:49.5%
}
.product_comment .comment_frm ul li:nth-child(2){
	display:inline-block;
	width:49.5%
}
.product_comment .comment_frm .cmn-btn2{
	margin-top:40px;
}

.about_area{
	text-align:center;
}
.about_area .about_welcome h2{
	font-size:36px;
	font-weight:bold;
	font-family: "Playfair Display",serif;
	margin-bottom:10px;
}
.about_area .about_welcome h2 span{
	color:#e53235;
	text-transform:uppercase;
}
.about_area .about_welcome h3{
	font-size:30px;
	font-weight:bold;
	font-family: "Playfair Display",serif;
}
.about_area .about_welcome h5{
	color:#e53235;
	margin:20px 0px;
}
.about_area .about_welcome p{
	font-size:16px;
	font-style:italic;
	max-width:626px;
	display:inline-block;
}
.about_area .about_happy{
	padding:60px 0px;
}
.about_area .about_happy ul li{
	display:inline-block;
	width:24.5%;
	overflow:hidden;
	text-align:left;
	padding-left: 3%;
}
.about_area .about_happy ul li figure{
	width:60px;
	float:left;
	margin-right:15px;
	margin-top: 10px;
}
.about_area .about_happy ul li h4{
	float: left;
    font-size: 38px;
    width: 60%;
	font-weight:bold;
}
.about_area .about_happy ul li h4 span{
	font-size:14px;
	color:#e53235;
	display:block;
	font-weight:bold;
	font-family: "Playfair Display",serif;
}
.about_area .about_shipping{
	background:#60be74;
	padding:40px;
	color:#fff;
	position:relative;
	z-index:99
}
.about_area .about_shipping ul li{
	display:inline-block;
	overflow:hidden;
	width:24.5%
}
.about_area .about_shipping ul li figure{
	float: left;
    margin-right: 5px;
    margin-top: 4px;
    width: 60px;
}
.about_area .about_shipping ul li h4{
	float: left;
    font-size: 17px;
    width: 60%;
	font-weight:bold;
	font-family: "Playfair Display",serif;
	text-align:left
}
.about_area .about_shipping ul li h4 span{
	font-size:13px;
	display:block;
	font-family: "Arimo", sans-serif;
	font-weight:normal;
	margin-top:10px;
}
.about_area .about_reviews{ 
	min-height:444px;
	margin-bottom:0px;
	position:relative;
	z-index:1;
	top:0;
	padding-top:100px; 
}
.post-type-archive-product .featured-area {
     padding-top: 0px; 
}
.about_area .about_reviews .about_reviews_lft{
	width:300px;
	float:left;
	padding:60px 0px;
}
.about_area .about_reviews .about_reviews_lft h3{
	color:#fff;
	font-size:40px;
	font-family: "Playfair Display",serif;
	font-weight:bold;
}
.about_area .about_reviews .about_reviews_lft h3 span{
	color:#e53235;
	font-size:30px;
	display:block
}
.about_area .about_reviews .about_reviews_lft h6{
	color:#e53235;
	font-size:12px;
	margin-top:20px;
}
.about_area .about_reviews .about_reviews_lft h6 i{
	margin:0px 5px;
}
.about_area .about_reviews .about_reviews_rht{
	width:800px;
	float:right;
	max-width:100%;
}
.about_reviews_rht figure.clearfix {
    padding: 60px 120px;
	color:#fff;
}
.about_area .about_reviews .about_reviews_rht .review_sld_img{
	border-radius:100%;
	overflow:hidden;
	width:130px;
	height:130px;
	float:left;
	border:8px solid #393537;
	margin-right:20px;
}
.about_area .about_reviews .about_reviews_rht .review_sld_img img{
	width:100%;
	height:100%;
}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{
	text-align:left;
	width:69%
}
.about_area .about_reviews .about_reviews_rht .review_sld_txt p{
	font-style:italic;
	color:#d8d8d8;
	line-height:28px;
}
.about_area .about_reviews .about_reviews_rht .review_sld_txt h4{
	font-size:18px;
	font-weight:bold;
	font-family: "Playfair Display",serif;
	margin-top:20px;
}
.about_area .about_reviews .about_reviews_rht .review_sld_txt h4 span{
	color:#e53235;
	text-transform:uppercase;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
}
.about_area .about_reviews .about_reviews_rht .carousel-inner{
	height:300px;
}
.about_area .about_reviews .about_reviews_rht .carousel-control.left, .about_area .about_reviews .about_reviews_rht .carousel-control.right{
	top:31%;
	height:100px;
	line-height:100px;
	background:none
}
.about_area .about_reviews .about_reviews_rht .carousel-control.left span, .about_area .about_reviews .about_reviews_rht .carousel-control.right span{
	background: #e53235 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 22px 20px;
}
.coll_btn_area{text-align:center; margin-bottom:100px}
/*-----------------------------------------------
 custom style
----------------------------------------------*/
.demo-2 .blog_page,
.recent_news_area.blog_page {
    width: inherit;
    max-width: inherit;
    float: inherit;
    padding: 0 0 80px 0;
}
.cmn-btn2{
	border-radius: 40px;
    padding: 16px 40px !important;
}
.blog_page_area.page_area .blog_details_area{
	padding: 0 !important;
}
.demo-2 .blog_para {
    margin-top: 35px;
}
/* ------------------------------------
5.Featured Product area start here 
---------------------------------------*/
.featured-area{
	padding-top:80px;
}
.featured-area.demo-2.cntr .site-section-area {
	text-align: center
}
.featured-area .nav-tabs {
	border-bottom: none;
	float: none;
	position: relative;
	top: 0px;
	text-align:center;
	margin: 24px 0;
}
.featured-area .nav-tabs li{
	display:inline-block;
	float:none
}
.featured-area .nav-tabs > li > a {
	border: 1px solid #fff;
	font-family: 'montserrat', sans-serif;
}
.featured-area .nav > li > a:hover {
	background-color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	box-shadow: none
}
.featured-area .tab-content {
	clear: both;
}
.featured-area .nav-tabs > li.active > a {
	border: none;
	color: #e53235;
	text-decoration: line-through
}
.featured-area .featured-item {
	display: inline-block;
	float: left;
	overflow: hidden;
	text-align: center;
	width: 270px;
	margin-right: 30px;
	position: relative
}
.featured-area .featured-item:nth-child(4n) {
	margin: 0px;
}
.featured-area .featured-item h2 {
	font-size: 20px;
	font-family: playfair display;
	font-weight: bold;
	color: #e53235
}
.featured-area .featured-item h4 {
	font-size: 15px;
	font-family: 'montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0px;
	color: #444444;
} 
.demo-2 .featured-des.pro-price h2 del span.woocommerce-Price-currencySymbol,
.demo-2 .featured-des.pro-price h2 del span.woocommerce-Price-amount {
    font-size: 14px;
    line-height: 1;
    color: #777;
}
.featured-area.demo-2 .coll_btn_area .cmn-btn{
    padding: 20px 30px;
    border-radius: 40px;
}
.featured-area.demo-2 .coll_btn_area .cmn-btn:hover {
    background: #333;
    color: #fff;
}
.blog_details_area.fwd.demo-2 {
    margin-bottom: 0;
}
.demo-2 .blog_page.fwd {
    padding-bottom: 0;
}
/* slider area */
.slider-area.d2 .owl-nav .owl-prev{
	position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: 99999px;
}
.slider-area .carousel-caption h3 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
}
.slider-area.d2 .owl-nav .owl-next{
	position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    text-indent: 99999px;
} 
.slider-area.d2 .carousel-caption h2 { 
    color: #e11013; 
    background: none;
}
.slider-area.d2 .carousel-caption h1 {
    color: #fff;
}
.slider-area.d2 .carousel-caption .cmn-btn2{ 
    font-style: normal;
} 
.slider-area.d2 .carousel-caption{
	background: none;
}
.slider-area.d2{
	overflow: hidden;
}
.slider-area.d2 .owl-carousel.owl-drag .owl-item .carousel-caption{
	display: none;
}
.slider-area.d2 .owl-carousel.owl-drag .owl-item.active .carousel-caption{
	display: block;
}
.contact_detail_area { 
    margin-left: 50px;
    padding-top: 0;
}
.contact_detail_area ul li:first-child {
    margin-right: inherit;
    width: inherit;
    margin-top: inherit;
} 
.contact_detail_area ul li {
    display: block;
    float: inherit;
    width: inherit;
    margin-top: 30px;
}
.product_comment.pt0{
	padding-top: 0;
}
.welcome_area .about_shipping {
    padding: 40px;
    color: #fff;
    position: relative;
    z-index: 99;
}
.welcome_area .about_shipping ul li {
    border-right: 1px dotted #ccc;
    display: inline-block;
    overflow: hidden;
    padding-left: 20px;
    width: 24.5%;
}
.welcome_area .about_shipping ul li:last-child {
    border-right: 0; 
}
.welcome_area .about_shipping ul li figure {
    float: left;
    margin-right: 5px;
    margin-top: 4px;
    width: 60px;
}
.welcome_area .about_shipping ul li h4 {
    float: left;
    font-size: 17px;
    width: 60%;
    font-weight: bold;
    font-family: "Playfair Display",serif;
    text-align: left;
    color: #222;
}
.welcome_area .about_shipping ul li h4 span {
    font-size: 13px;
    display: block;
    font-family: "Arimo", sans-serif;
    font-weight: normal;
    margin-top: 10px;
    color: #e11013;
}
.welcome_screen {
    padding: 40px 0px;
}
.welcome_screen .welcome_head {
    float: left;
    padding: 0 100px 0 180px;
    width: 50%;
}
.welcome_screen .welcome_head h2 {
    font-size: 36px;
}
.welcome_screen .welcome_para {
    width: 50%;
    float: left;
    padding-right: 150px;
}
.welcome_screen .site-section-area {
    margin:0;
}
.home_fashion_area .fashion_area_lft { 
	position: relative;
    text-align: center;
    overflow: hidden;
    display: block;
    width: 100%;
}
.home_fashion_area .fashion_area_lft img {
    transition: all .2s ease-in-out;
    width: 100%;
}
.home_fashion_area .fashion_area_lft:hover img {
    transform: scale(1.1,1.1);
}
.home_fashion_area .fashion_area_lft .fashion_bx1_overlay {
    position: absolute;
    display: inline-block;
    width: 200px;
    top: 20%;
    left: 33%;
    color: #fff;
}
.home_fashion_area .fashion_area_lft .fashion_bx1_overlay h1 {
    font-size: 48px;
}
.home_fashion_area .fashion_area_lft .fashion_bx1_overlay h1 span {
    color: #e11013;
}
.home_fashion_area .fashion_area_lft .fashion_bx1_overlay h6 {
    color: #e11013;
    margin: 20px 0px;
}
.home_fashion_area .fashion_area_lft .fashion_overlay2 {
    position: absolute;
    right: 10%;
    top: 50px;
    width: 150px;    
    text-align: left;
}
.home_fashion_area .fashion_area_lft .fashion_overlay2.lft { 
    right: inherit;
    left: 10%; 
}
.home_fashion_area .fashion_area_lft .fashion_overlay2.cntr { 
	right: inherit;
	left: 35%;
	text-align: center;
}
.home_fashion_area .fashion_area_lft .fashion_overlay2 h3 {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.home_fashion_area .fashion_area_lft .fashion_overlay2 h6 {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #e11013;
    margin: 15px 0px;
}
.home_fashion_area .fashion_area_lft .fashion_overlay2 h6 a {
    text-decoration: underline;
}
/* featured tab */
.demo-2.featured-area .featured-item .featured-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s ease-in-out;
    padding-top: 20px;
}
.demo-2.featured-area .featured-item:hover .featured-overlay {
    opacity: 1;
}
.demo-2.featured-area .featured-overlay-des {
	position: absolute;
    width: 100%;
    bottom: 30px;
    right: inherit;
}
.demo-2.featured-area .featured-overlay-rht {
    background: #222;
    border-radius: 50px;
    color: #fff;
    margin: 0 40px;
    width: 190px;
    float: none;
}
.demo-2.featured-area .featured-overlay-rht ul li {
    padding: 10px;
    display: inline-block;
    position: relative;
}
.demo-2.featured-area .featured-overlay-rht ul li a{
    color: #fff !important;
    background-color: transparent;
    padding: 0;
}
.demo-2.featured-area .featured-overlay-rht ul li span {
    background: #e11013 none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    font-size: 10px;
    left: -34px;
    position: absolute;
    top: -20px;
    width: 100px;
    text-transform: uppercase;
}
.demo-2.featured-area .featured-overlay-rht ul li span:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E11013;
    bottom: -6px;
    content: "";
    display: inline-block;
    left: 40px;
    position: absolute;
}
.demo-2.featured-area .featured-overlay-rht ul li:hover span {
    display: block;
}
.demo-2.featured-area .featured-overlay-rht ul li .yith-wcwl-add-button > a i {
    margin-right: 0;
}
.demo-2.featured-area .featured-overlay-rht ul li .yith-wcwl-add-to-wishlist .ajax-loading{
	display: none !important
}
.demo-2 .featured-overlay-rht ul li:first-child {
    background: transparent;
    border:0;
}
.demo-2.featured-area .featured-overlay-rht ul li:last-child {
   padding: 0 10px;
}
.demo-2.featured-area .featured-overlay-rht ul li:last-child a{
	position: absolute;
    top: -17px;
}
.demo-2.featured-area .featured-overlay-rht ul{
	margin-left: -10px;
}
.demo-2.featured-area .featured-overlay-rht ul li:last-child span{
	top: -47px;
}
.woocommerce .demo-2.featured-area .add_to_cart_button.added, .woocommerce .feature-tab-area .ajax_add_to_cart.added {
   display: block;
}
.demo-2.featured-area a.compare.added:after {
	font: normal normal normal 14px/1 FontAwesome;
    content: "\f0c5";
    margin-left: 0;
}
.demo-2.featured-area a.add_to_cart_button:after ,
.demo-2.featured-area a.added_to_cart.wc-forward {
	display: none;
}
.demo-2.featured-area.woocommerce #respond input#submit.loading, 
.demo-2.featured-area.woocommerce a.button.loading, 
.demo-2.featured-area.woocommerce button.button.loading, 
.demo-2.featured-area.woocommerce input.button.loading {
    opacity: .25;
    padding-right: 0;
}
/* single product page */
.demo-2.product_details .product_details_img {
    width: 35.5%;
    float: left;
    position: relative;
}
.demo-2 .product_details_img .thumbnails {
	top: inherit; 
    bottom: -160px;
    clear: both;
    float: none;
    position: absolute;
    right: 0;
    width: 100%;
}
.demo-2 .product_details_img .thumbnails > a {
    border: 1px solid #ccc;
    display: inline-block;
    float: left;
    margin-bottom: 12%;
    margin-right: 2%;
    margin-top: 13%;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 23.5%;
    line-height: normal;
    text-align: center;
    height: 104px;
}
.demo-2 .product_details_img .thumbnails > a:last-child{
	margin-right: 0;
}
.pro_popup .modal-dialog{
	width:800px;
	max-width:95%;
}
.pro_popup .product_details{
	padding:0px;
} 
.pro_popup .product_details_txt{
	text-align: left;
} 
.pro_popup .product_details .product_details_txt h3{
	font-size: 20px;
}
.pro_popup .add_btn_area table.variations tbody tr td.label{
	width: 85px;
	text-align: left !important;
}
.pro_popup .single_variation_wrap {
    position: relative;
}
.pro_popup .add_btn_area table.variations tbody tr, 
.pro_popup .product_details .size_bx .size {
    width: 100%;
    float: left;
    display: block;
    font-family: "Playfair Display";
    font-weight: bold;
    line-height: 55px;
}
.pro_popup .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
    position: relative;
}
.pro_popup .add_btn_area form.cart button.single_add_to_cart_button.disabled, 
.pro_popup .add_btn_area form.cart button.single_add_to_cart_button.disabled:hover, 
.pro_popup .add_btn_area form.cart button.single_add_to_cart_button{
	margin-left: 30px;
}
.pro_popup .product_details .social_pop { 
    right: -80px; 
}
.demo-2.signlepro.product_details .share_product > a,
.pro_popup .product_details .share_product > a {
    background: #000000 none repeat scroll 0 0; 
    color: #fff;
}
.demo-2.signlepro.product_details .share_product,
.pro_popup .product_details .share_product {
    position: relative;
    right: 100px;
    top: 15px;
   margin-bottom: 150px;
}
.demo-2.signlepro.product_details .share_product{
    right: 200px;
}
.demo-2.signlepro.product_details .add_btn_area form.variations_form.cart + .add_wishlist,
.pro_popup .product_details .add_btn_area form.variations_form.cart + .add_wishlist {
    top: inherit;
    position: absolute;
    bottom: -58px;
    left: 0;
}
.pro_popup.signlepro.product_details .add_btn_area .add_wishlist,
.pro_popup .product_details .add_btn_area .add_wishlist { 
    left: 0;
    top: 85px; 
}
.pro_popup .add_btn_area form.cart .quantity .plus{
	right: 6px;
}
.pro_popup .modal-body { 
    min-height: 600px;
}
/* ------------------------------------
5.shoes-collection area start here 
---------------------------------------*/
.demo-2 .shoes-coll-area{
	background:#e9ebe7;
	padding:0px 0px;
	text-align:left;
}
.demo-2 .shoes-coll-area .carousel-indicators{
	left:0px;
	margin-left:0%;
	width:100px;
	top:34%;
}
.demo-2 .shoes-coll-area .carousel-indicators li{
	width:14px;
	height:14px;
	margin:5px 0px;
	border:1px solid #999
}
.demo-2 .shoes-coll-area .carousel-indicators li.active{
	background:#E11013;
	border:1px solid #E11013
}
.demo-2 .shoes-coll-area .carousel-inner{
	height: auto;
    padding: 0px 0;
}
.demo-2 .shoes-coll-area .carousel-inner > .item{
	margin:120px 0px 0px 0px;
	clear:both;
	height: auto;
}
.demo-2 .shoes-coll-area .carousel-inner > .item .row:nth-child(2){
	display:none
}
.demo-2 .shoes-coll-area .carousel-inner > .item .row:nth-child(3){
	display:none
}
.demo-2 .shoes-coll-area .shoes_coll_lft{
	padding-left:164px;
}
.demo-2 .shoes-coll-area .coll_shoes_rht{
	position:relative;
	top:-70px;
}
.demo-2 .shoes-coll-area .carousel-indicators li{
	display:block
}
.demo-2 .shoes-coll-area .site-section-area{
	text-align:left;
}
.demo-2 .shoes-coll-area h3{
	margin:25px 0px;
	font-size:20px;
	font-weight:bold
}
.demo-2 .shoes-coll-area h2{
	margin-bottom:30px;
	font-size: 30px;
}
.demo-2 .shoes-coll-area h3 span{
	color:#e53235;
	font-family: 'Playfair Display';
	font-size:30px
}
.demo-2 .shoes-coll-area ul li{
	display:inline-block;
	width:70px;
	height:75px;
	background:#fff;
	text-align:center;
	overflow:hidden;
	text-transform:uppercase
}
.demo-2 .shoes-coll-area ul li h5{
	font-size:20px;
	margin:15px 0px 5px 0px
}
.demo-2 .shoes-coll-area ul li h6{
	display:block;
	font-size:12px;
	color:#e53235;
	font-family: 'Playfair Display';
	font-weight:bold
}
.demo-2 .shoes-coll-area .cmn-btn2{
	margin:40px 0px;
}
#cas-pro-countdown ul li:last-child,
#d2-cdown ul li:last-child{
	display: none;
}
.demo-2.recent_news_area .site-section-area{
	text-align: center;
}
.demo-2.recent_news_area .news_cnt {
    background: #fff;
    margin: 0px 100px;
    padding: 20px;
}
.demo-2.recent_news_area .carousel-indicators li.active {
    background: #000 url(../images/active_img.png) center center no-repeat;
}
.demo-2 .subscribe-area{
	position: absolute;
	z-index: 99999;
	top: -30px;
}
.featured-area.demo-2.woocommerce .coll_btn_area { 
    margin-bottom: 70px;
}
.col-md-8.splft{
	width: 73% !important;
}
.col-md-4.splrt{
	width: 27% !important;
}
.related_products .featured-item{
    width: 252px;
    margin-right: 22px; 
}
.related_products .featured-item:last-child{ 
    margin-right: 0; 
}
.featured-area.demo-2 .col-md-8.splft .featured-item { 
    width: 260px;
    margin-right: 22px; 
}
.featured-area.demo-2 .col-md-8.splft .featured-item.ilast {  
    margin-right: 0; 
}
.featured-area.demo-2 .site-section-area {
    text-align: left;
}
.featured-area.demo-2 .side_bar .popular_area ul li .pop_details{
	width: 162px;
}
.demo-2.product_details.signlepro .product_details_img {
    width: 45%; 
}
.demo-2.product_details.signlepro .product_details_img .woocommerce-main-image img{
	width: auto;
	max-width: 100%;
}
.demo-2.product_details.signlepro .product_details_tab .swrap {
    background: #fbfbfb;
    padding: 50px;
}
.demo-2.product_details.signlepro .product_details_tab{
	margin: 120px 0 0 -15px;
}
.pro_popup .product_details .product_details_txt h2,
.demo-2.product_details.signlepro .product_details_txt h2{
	max-width: 100%;
}
.demo-2.signlepro.product_details .rating_bx .write_review{
    width: 150px !important; 
}
/* ------------------------------------
2.3 product comment tab area start here 
---------------------------------------*/
.related_products {
    padding-top: 50px;
}
.related_products .featured-area{
	padding-top:40px
}
.related_products h2{
	font-size:30px;
	text-transform:capitalize
}
.related_products .yith-wcwl-add-to-wishlist{
	padding-left: 0;
}
.cmn-btn2{
    background: #e11013 !important;
}
.site-section-area h2 { 
    font-size: 30px !important; 
}

@media screen and (min-width:993px) and (max-width:1365px){
header .dropdown-submenu .dropdown-menu{left:-100%}
.welcome-area .welcome-product li:nth-child(3){float:left}
.welcome-product {display: inline-block;width: 780px;}
.newsBlg-area .blog-section1{width:31%}
.blog_details_area .blog_author_area .author_details{padding:20px}
.blog_details_area .blog_author_area .author_details2 h4 span{margin-left:15px}
.blog_details_area .blog_author_area figure{margin-right:20px}
.blog_details_area .blog_author2 {margin: 6px 0 0;}
.about_reviews_rht figure.clearfix{padding:0px 70px}
.about_area .about_reviews .about_reviews_rht{width:60%}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%; margin-bottom:200px}

/*index2 css start here*/
.welcome_area .about_shipping ul li{float:left}
.welcome_area .about_shipping ul li h4{font-size:13px}
.welcome_screen .welcome_head h2{font-size:28px; margin-top:40px;}
.featured-area .featured-item{width:22.6%}
.featured-area .featured-des{padding:20px}
.feature_btn_area{clear:both}
.subscribe-area .container{padding:50px}
.product_page .product_lft{max-width:70%}
.product_page .featured-item {width: 27.6%; margin-right:40px}
.product_page .featured-item:nth-child(4n){margin-right:40px}
.product_details .product_details_txt h2{max-width:100%}
.product_details .add_btn_area .btn_bx{width:48%}
.product_details .add_btn_area .add_wishlist{width:50%;}
.contact_map_area{width:60%}
.checkout_wrapper .checkout_info .billing_info{width:60%}
.checkout_wrapper .checkout_info .order_info{width:38%}
.cart_wrapper .cart_cal_area .cart_shipping, .cart_wrapper .cart_cal_area .cart_coupon, .cart_wrapper .cart_cal_area .cart_total{width:32%; margin:0px 0px 50px 0px;}
.cart_wrapper .cart_cal_area .cart_coupon{margin:0% 2%}
.cart_wrapper .cart_cal_area .cart_total .cart_black table tr:nth-child(2) td {font-size:14px}
.cart_wrapper .cart_cal_area .cart_total .cart_black table tr:nth-child(2) td:nth-child(3){font-size:18px}
.product_details_tab .nav > li > a{padding:10px; font-size:12px}
.featured-area .featured-overlay-rht{border-radius:10px; margin:0px 7px}
.partner-area ul li{margin:0px 5px}
}
/*993px to 1365px css end here*/

@media screen and (min-width:768px) and (max-width:992px){
header .dropdown-submenu .dropdown-menu{left:-100%}
header .dropdown-menu > li > a{font-size:12px; padding:3px 9px}
.header-top-area .header-top-right {float: none;text-align: center;font-size: 12px;}
.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:5px; display:inline-block; float:none}
.header-top-area .header-top-right i {margin-right: 0px;}
header .cart-area div{margin-left:4px}
header .cart-area h3 span{right:-4px; top:-4px}
.spacer{padding:20px 0px}
.nav > li > a {display: block;font-size: 13px;padding: 10px 9px;position: relative;}
.navbar-brand > img{width:70; height:auto}
.welcome-area .welcome-product li{ width:50%}
.nav-tabs > li {display: inline-block;float: none;}
.product_details_tab .tab-content{text-align:left}
.featured-area .nav-tabs{float:none; top:0px; }
.featured-area .site-section-area{text-align:center}
.featured-area .featured-item{float:none; margin-right:0px;}
.product-coll-listing .listing-col-bx{width:50%; margin:0%; padding:20px;}
.subscribe-area .container{padding:30px 30px}
.subscribe-area ul li:nth-child(1){width:36%}
.subscribe-area ul li:nth-child(2){width:36%; margin:0px}
.subscribe-area ul li:nth-child(3){width:25%}
.subscribe-area ul li:nth-child(3) button{padding:10px 16px; float:right}
.newsBlg-area .blog-section1{width:100%; margin:0px; padding:20px; float:none }
.newsBlg-area .blog-section1 .site-section-area{text-align:center; }
.newsBlg-area .blog-section2 figure .blg-fig-bx {bottom: 45px;left: 0;position: relative;}
.partner-area{text-align:center}
.footer-area .footer_bx {padding: 20px 50px;width: 100%;}
.footer_bx{background-position:top 30px right 50px}
/*product-details page css*/
.product_details{text-align:center}
.product_details .product_details_img{display: inline-block;float: none;max-width: 524px;width: 100%;}
.product_details .product_details_txt {float: none; padding: 20px;text-align: left;width: 100%; margin-top:120px}
.product_details .product_details_txt h2{max-width:100%}

.side_bar{clear: both;float: none; width: 100%; text-align:center}
.side_bar_inner{display: inline-block; max-width:500px}
.side_bar .popular_area ul li .pop_details{width:60%}
.blog_details_area .blog_author_area .author_details{padding:20px}
.blog_details_area .blog_author_area .author_details2 h4 span{margin-left:15px}
.blog_details_area .blog_author_area figure{margin-right:20px}
.about_reviews_rht figure.clearfix{padding:0px 70px}
.about_area .about_reviews .about_reviews_rht{width:60%}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%}

/*index2 page css start*/
.welcome_screen .welcome_head, .welcome_para{padding:0px !important}
.shoes-coll-area .carousel-inner > .item{margin-top:22px}
.shoes-coll-area .shoes_coll_lft{padding-left:40px}
.shoes-coll-area .coll_shoes_rht{top:0px}
.home_fashion_area .fashion_area_rht li .fashion_overlay2{top:10px; right:-8px; width:100px;}
.home_fashion_area .fashion_area_rht li .fashion_overlay2 h3{font-size:12px;}
.home_fashion_area .fashion_area_lft .fashion_bx1_overlay h1{font-size:24px}
.recent_news_area .carousel-inner .item{}
.recent_news_area .carousel-indicators{height:426px}
.recent_news_area .carousel-indicators li{width:60px; height:66px}
.blog_page .news_cnt{margin:0px 0px 40px 0px;}
.recent_news_area .news_cnt .news_slider_img{left:0px; margin:0px}
.recent_news_area .news_cnt .news_slider_txt{padding:0px}
.blog_details_area{padding:20px}
.product_page .nav-tabs{text-align:center; max-width:100%}
.product_page .product_lft{text-align:center}
.product_page .featured-item{margin-bottom:0px;}
.product_details_img .thumbnails{bottom:-300px}
.product_details_img .thumbnails > a{width:18%; float:none; margin-bottom:0px}
.product_details_img .images{text-align:center;}
/*home slider caption seting*/
.slider-area .carousel-caption{ top:20px; left:40%}
.slider-area .carousel-caption h3{ font-size:20px}
.slider-area .carousel-caption h2{ font-size:20px}
.slider-area .carousel-caption h1{font-size:30px; margin:0px}
.slider-area .carousel-caption h4{font-size:16px; margin-bottom:20px;}
.slider-area .carousel-caption h4 span{font-size:16px}
.slider-area .cmn-btn2{padding:6px 20px}
/*contact page css*/
.contact_detail_area{width:100%; margin:0px}
.contact_detail_area ul li:first-child{width:100%}
.contact_detail_area ul li{width:32%; display:inline-block; text-align:center}
.contact_detail_area ul li figure{float:none; margin-bottom:15px; display:inline-block}
.checkout_wrapper .checkout_info .billing_info{width:100%}
.checkout_wrapper .checkout_info .order_info{width:100%}
.cart_item_tbl{overflow:scroll}
.cart_item_tbl table{ width:900px}
.cart_btn_area{text-align:center; margin-top:30px}
.cart_wrapper .cart_btn_area button{margin:5px 0px; padding:10px 20px}
.cart_wrapper .cart_btn_area button:nth-child(3){float:none}
.cart_wrapper .cart_cal_area {padding: 36px 20px; text-align:center}
.cart_wrapper .cart_cal_area .cart_shipping, .cart_wrapper .cart_cal_area .cart_coupon, .cart_wrapper .cart_cal_area .cart_total{width:100%; margin:0px 0px 50px 0px;}
.product_details_tab .nav > li > a{padding:10px; font-size:12px}
.partner-area ul li{margin:0px 4px; width:14%}
.about_area .about_happy ul li h4{width:100%}
.about_area .about_reviews .about_reviews_lft{width:230px}
.about_area .about_reviews .about_reviews_rht .carousel-inner{height:400px}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{margin-bottom:200px}
}
/*768px to 992px css end here*/
@media screen and (min-width:200px) and (max-width:767px){
.demo-2 .shoes-coll-area .coll_shoes_rht {
 top:0;
}
.navbar-collapse.collapse.in {
  border-top: 1px solid #000;
  margin-top: 20px;
}
.navbar-toggle{margin:18px 0px}
nav .container{padding:0px}
nav .col-lg-7.col-sm-8.col-md-8{padding:0px}
nav .col-lg-2.col-sm-2 { position: absolute;top: 20px;right: 66px}
.spacer{padding:20px 20px !important}
.navbar-brand > img{width:70%; height:auto}
header .cart-area{padding-top:0px}
.welcome-area .welcome-product li{float:none !important}
.nav-tabs > li {
    display: inline-block;
    float: none;
    margin-bottom: 20px;
}
.featured-area .nav-tabs{float:none; top:0px;}
.featured-area .site-section-area{text-align:center}
.featured-area .featured-item{float:none; margin-right:0px;}
.product-coll-listing .listing-col-bx{width:100%; margin:0%; padding:20px;}
.subscribe-area .container{padding:30px 30px}
.subscribe-area ul li:nth-child(1){width:100%}
.subscribe-area ul li:nth-child(2){width:100%; margin:0%}
.newsBlg-area .blog-section1{width:100%; margin:0px; padding:20px; float:none }
.newsBlg-area .blog-section1 .site-section-area{text-align:center}
.newsBlg-area .blog-section2 figure .blg-fig-bx {bottom: 45px;left: 0;position: relative;}
.partner-area{text-align:center}
.footer-area .footer_bx {padding: 20px 50px;width: 100%;}
.footer_bx{background-position:top 30px right 50px}
/*product page css*/
.header-top-inner{margin-bottom:20px}
.pagination_area .pagination > li > a, .pagination > li > span {width:30px;height:30px;line-height:30px;}
/*product-details page css*/
.product_details{text-align:center}
.product_details .product_details_img{display: inline-block;float: none;max-width: 524px;width: 100%;}
.product_details .product_details_txt {float: none; padding: 20px;text-align: left;width: 100%; margin-top:150px}
.nav-tabs > li{margin-bottom:0px;}
/*contact page css*/
.contact_detail_area{padding:20px; width:100%; margin:0px; }
.contact_detail_area ul li{
	width:100% !important; float:left
}
.side_bar{width:100%; padding:20px;}
.side_bar .popular_area ul li .pop_details{width:60%}
.blog_details_area .blog_title{padding:0px 20px}
.blog_details_area .blog_title .blog_title_lft{width:100%; margin-bottom:20px;}
.blog_details_area .blog_title .blog_title_rht{width:100%}
.blog_details_area .blog_para p{padding:0px 20px}
.blog_details_area .blog_bg_img{padding:20px}
.blog_details_area .blog_author_area figure{float:none; display:inline-block; margin:0px; margin-bottom:30px}
.blog_details_area .blog_author_area .author_details{padding:0px}
.blog_details_area .blog_author_area .author_details2 h4{margin-top:20px}
.blog_details_area .blog_author2{margin:6px 0px 0px 0px}
.blog_details_area .blog_comment .product_comment{padding:20px}
.blog_details_area .blog_author_area{padding:10px 20px; text-align:center}
.blog_details_area .site-section-area{margin:20px; text-align:center}
.product_comment .comment_frm ul li{text-align:center}
.about_area .about_happy ul li{width:100%; margin-bottom:20px}
.about_area .about_shipping ul li{width:100%; margin-bottom:20px}
.about_area .about_reviews .about_reviews_lft{width:100%; padding:0px;}
.about_area .about_reviews .about_reviews_rht{margin-top:30px}
.about_reviews_rht figure.clearfix {padding: 0px 15%;color:#fff;}
.about_area .about_reviews .about_reviews_rht .review_sld_img{float:none; display:inline-block}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{width:100%; text-align:center;}
.about_area .about_reviews .about_reviews_rht .review_sld_txt h4{margin-bottom:20px}
.about_area .about_welcome {padding: 0 20px;}
.about_area .about_welcome h2{font-size:28px}
/*index2 css start here*/
.welcome_screen{padding:0px; text-align:center}
.welcome_area{padding:0px}
.welcome_area .about_shipping{padding:30px}
.welcome_area .about_shipping ul li{width:100%;border:none;margin-bottom:25px;}
.welcome_screen .welcome_head, .welcome_screen .welcome_para{padding:0px; width:100%; padding:0px 20px}
.welcome_screen .welcome_head h2{font-size:20px}
.shoes-coll-area .shoes_coll_lft{padding-left:40px}
.shoes-coll-area .carousel-inner{height:auto}
.shoes-coll-area .carousel-inner > .item{margin-top:30px}
.shoes-coll-area .coll_shoes_rht{top:0px}
.site-section-area h2{font-size:24px}
.recent_news_area{padding-top:120px; background-size:cover}
.recent_news_area .carousel-indicators li{width:40px; height:40px}
.recent_news_area .carousel-indicators{height:426px; right:0px}
.recent_news_area .news_cnt{margin:0px}
.recent_news_area .carousel-inner .item{height:922px}
.featured-area{padding-top:30px}
/*index2 css end here*/

.recent_news_area .news_cnt .news_slider_img{text-align:center; left:0px; margin-right:0px;}
.recent_news_area .news_cnt .news_slider_txt{text-align:center}
.recent_news_area .news_cnt .news_slider_txt figure{display:inline-block}
.blog_page .news_cnt{margin:0px 0px 40px 0px}
.blog_details_area{padding:20px}
.product_page .nav-tabs{text-align:center; border-radius:10px; padding:10px 5px}
.product_details_tab .tab-content{padding:0px; text-align:left}
.product_details{padding:0px}
.product_page .product_lft{text-align:center}
.product_page .featured-item{margin-bottom:0px;}
.product_details .product_details_txt h2{max-width:100%}
.product_details_img .images{text-align:center}
.product_details_img .thumbnails > a{float:none; width:17%; height:auto; margin-top:0px; margin-bottom:0px; }
.product_details_img .thumbnails{bottom:-280px}
.checkout_wrapper{padding:0px 20px}
.checkout_wrapper .returning_bx{text-align:center; padding:20px}
.checkout_wrapper .checkout_info .site-section-area h2{margin:30px 0px}
.checkout_wrapper .site-section-area{ text-align:center}
.checkout_wrapper .checkout_info .billing_info .billing_frm h3{margin-top:15px}
.checkout_wrapper .checkout_info .billing_info{width:100%}
.checkout_wrapper .checkout_info .order_info{width:100%}
.checkout_wrapper .checkout_info .order_info .order_total table th{padding:15px 5px}
.checkout_wrapper .checkout_info .order_info .order_total .tbl2{margin:15px 5px; width:96%}
.cart_item_tbl{overflow:scroll}
.cart_item_tbl table{ width:900px}
.cart_btn_area{text-align:center; margin-top:30px}
.cart_wrapper .cart_btn_area button{margin:5px 0px; padding:10px 20px}
.cart_wrapper .cart_btn_area button:nth-child(3){float:none}
.cart_wrapper .cart_cal_area {padding: 36px 20px; text-align:center}
.cart_wrapper .cart_cal_area .cart_shipping, .cart_wrapper .cart_cal_area .cart_coupon, .cart_wrapper .cart_cal_area .cart_total{width:100%; margin:0px 0px 50px 0px;}
.home_fashion_area .fashion_area_lft{width:100%}
.home_fashion_area .fashion_area_rht{width:100%}
.home_fashion_area .fashion_area_rht li .fashion_overlay2{right:-18px; top:20%}
.home_fashion_area .fashion_area_rht li .fashion_overlay4{left:4%; width:90% !important}
.home_fashion_area .fashion_area_rht li .fashion_overlay2 h3{font-size:16px}
.home_fashion_area .fashion_area_lft .fashion_bx1_overlay h1{font-size:22px}
.home_fashion_area .fashion_area_lft .fashion_bx1_overlay{width:100%; left:3%}
.side_bar{clear: both;float: none; width: 100%; text-align:center}
.side_bar_inner{display: inline-block; max-width:400px}
.about_area .about_reviews .about_reviews_rht .carousel-inner{height:440px;}
.about_area .about_reviews .about_reviews_rht .review_sld_txt{margin-bottom:200px}
.welcome-area .welcome-product .wlcm-product-ttl2{width:90%; left:0px; margin:0px 5%}
}
/*200px to 767px css end here*/

@media screen and (min-width:581px) and (max-width:767px){
.header-top-area .header-top-right {float: none;text-align: center;font-size: 12px;}
.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:5px; display:inline-block; float:none}
.header-top-area .header-top-right i {margin-right: 0px;}
.product_details_tab .nav > li > a{padding:5px; font-size:12px;}
.nav-tabs > li{margin-bottom:0px;}
.product_details .product_details_txt h2{max-width:100%}
/*home slider caption seting*/
.slider-area .carousel-caption{ top:20px; left:40%}
.slider-area .carousel-caption h3{ font-size:14px}
.slider-area .carousel-caption h2{ font-size:16px}
.slider-area .carousel-caption h1{font-size:22px; margin:0px}
.slider-area .carousel-caption h4{font-size:9px; margin-bottom:0px;}
.slider-area .carousel-caption h4 span{font-size:9px}
.slider-area .cmn-btn2{padding:3px 6px}

.welcome_area .about_shipping ul li{width:49%}
.subscribe-area ul li:nth-child(1){width:36%}
.subscribe-area ul li:nth-child(2){width:36%}
.subscribe-area ul li:nth-child(3){width:25%}
.subscribe-area ul li:nth-child(3) button{padding:10px 16px; float:right}
.partner-area ul li{margin:0px 4px; width:14%}
.about_area .about_happy ul li{width:48%}
.about_area .about_shipping{padding:20px 10px}
.about_area .about_shipping ul li{width:48%}
.welcome-area .welcome-product li{width:50%; float:left !important}
}
/*581px to 767px css end here*/

@media screen and (min-width:200px) and (max-width:580px){
.header-top-area .header-top-right {float: none;text-align: center;font-size: 12px;}
.header-top-area .header-top-right .lang, .header-top-area .header-top-right .currency, .header-top-area .header-top-right .account{padding-left:5px; display:inline-block; float:none}
.header-top-area .header-top-right i {margin-right: 0px;}
.header-top-area .header-top-left ul{text-align:center}
.header-top-area .col-xs-6{ width:100%}
	
/*product-details page css*/
.product_details .product_details_txt h2{font-size:20px}
.product_details .size_bx .size{width:100%; margin-bottom:10px;}	
.product_details{padding:0px;}
.nav-tabs > li{display:block}
.product_comment .comment_frm ul li:nth-child(1), .product_comment .comment_frm ul li:nth-child(2){width:100%}
.featured-area .nav-tabs li{display:block; border-bottom:1px solid #ccc}
/*home slider caption seting*/
.slider-area .carousel-caption{ top:0px; left:20%; padding-top:8px}
.slider-area .carousel-caption h3{ font-size:14px}
.slider-area .carousel-caption h2{ font-size:16px}
.slider-area .carousel-caption h1{font-size:22px; margin:0px}
.slider-area .carousel-caption h4{font-size:9px; margin-bottom:0px;}
.slider-area .carousel-caption h4 span{font-size:9px}
.slider-area .cmn-btn2{padding:3px 6px}
.checkout_wrapper .checkout_info .billing_info .billing_frm h3{font-size:15px}
.checkout_wrapper .checkout_info .billing_info .billing_frm textarea{height:120px !important; margin-bottom:30px}
.checkout_wrapper .checkout_info .billing_info .billing_frm .inpt_field1{width:100%; margin-bottom:5px}
.checkout_wrapper .checkout_info .billing_info .billing_frm .inpt_field2{width:100%}
.checkout_wrapper .checkout_info .order_info .payment_method{padding:15px}
.checkout_wrapper .checkout_info .order_info .payment_method p{padding:15px}
.blog_details_area .blog_social_area{border-radius:10px; padding:10px}
.partner-area ul li{width:22%}
.welcome_area .about_shipping{padding:30px; text-align:center}
.welcome_area .about_shipping ul li{width:270px; display:inline-block}
}
/*200px to 580px css end here*/
@media screen and (min-width:481px) and (max-width:580px){
.product_details .add_btn_area .btn_bx{width:50%}
.product_details .add_btn_area .add_wishlist{width:48%}
.subscribe-area ul li:nth-child(2){width:56%; margin:0px}
.subscribe-area ul li:nth-child(3){width:40%}
.subscribe-area ul li:nth-child(3) button{padding:10px}
.about_area .about_happy ul li{width:48%}
.about_area .about_shipping{padding:20px 10px}
.about_area .about_shipping ul li{width:49%}
}
@media screen and (min-width:361px) and (max-width:480px){
.product_details .add_btn_area .btn_bx{width:50%}
.product_details .add_btn_area .add_wishlist{width:48%}
.cart_wrapper .cart_btn_area button{width:100%; padding:10px; margin:5px 0px}
.blog_details_area .blog_social_area .share_txt{width:100%}
.about_area .about_happy ul li{width:60%}
.about_area .about_shipping ul li{width:246px}
.home_fashion_area .fashion_area_rht li .fashion_overlay2{right:-18px; top:20%; width:115px}
.home_fashion_area .fashion_area_rht li .fashion_overlay3{left:10px}
}

@media screen and (min-width:200px) and (max-width:360px){
.slider-area .carousel-caption h3{font-size:12px}
.slider-area .carousel-caption h2{font-size:12px}
.slider-area .carousel-caption h1{font-size:14px}
header .cart-area div{display:none}
.product_details .product_details_txt{margin-top:90px}
.product_details_img .thumbnails{bottom:-245px}
.product_details .size_bx .size ul li:first-child{margin-right:5px}
.product_details .add_btn_area .btn_bx{width:100%}
.product_details .add_btn_area .add_wishlist{width:100%; margin-top:20px; text-align:left}
.cart_wrapper .cart_btn_area button{width:100%; padding:10px; margin:5px 0px}
.recent_news_area .carousel-indicators{height:284px}
.blog_details_area .blog_social_area .share_txt{width:100%}
.about_area .about_happy ul li{width:70%}
.about_area .about_shipping ul li{width:246px}
.home_fashion_area .fashion_area_rht li .fashion_overlay2{right:-18px; top:20%; width:105px}
.home_fashion_area .fashion_area_rht li .fashion_overlay3{left:10px}
.home_fashion_area .fashion_area_rht li .fashion_overlay2 h6{font-size:10px}
.home_fashion_area .fashion_area_rht li .fashion_overlay2 h3{font-size:14px;}

}
